<!-- /html/partials/pages/questions/questions-menu.html -->
<ul class="questions-menu questions-menu-fixed">
  <li>
    <a href="questions-home.html">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </a>
  </li>
  <li>
    <a href="questions-single.html">
      <mat-icon>question_answer</mat-icon>
      <span>My Questions</span>
    </a>
  </li>
  <li>
    <a href="questions-stats.html">
      <mat-icon>query_stats</mat-icon>
      <span>My Stats</span>
    </a>
  </li>
  <li>
    <a href="questions-categories.html">
      <mat-icon>layers</mat-icon>
      <span>Categories</span>
    </a>
  </li>
  <li>
    <a href="questions-settings.html">
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </a>
  </li>
</ul>

<ul class="questions-menu">
  <li>
    <a href="questions-home.html">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </a>
  </li>
  <li>
    <a href="questions-single.html">
      <mat-icon>question_answer</mat-icon>
      <span>My Questions</span>
    </a>
  </li>
  <li>
    <a href="questions-stats.html">
      <mat-icon>query_stats</mat-icon>
      <span>My Stats</span>
    </a>
  </li>
  <li>
    <a href="questions-categories.html">
      <mat-icon>layers</mat-icon>
      <span>Categories</span>
    </a>
  </li>
  <li>
    <a href="questions-settings.html">
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </a>
  </li>
</ul>