<!-- /html/partials/pages/questions/questions-menu.html -->
<ul class="questions-menu questions-menu-fixed">
  <li>
    <a href="questions-home.html">
      <i data-feather="home"></i>
      <span>Home</span>
    </a>
  </li>
  <li>
    <a href="questions-single.html">
      <i data-feather="message-circle"></i>
      <span>My Questions</span>
    </a>
  </li>
  <li>
    <a href="questions-stats.html">
      <i data-feather="hexagon"></i>
      <span>My Stats</span>
    </a>
  </li>
  <li>
    <a href="questions-categories.html">
      <i data-feather="layers"></i>
      <span>Categories</span>
    </a>
  </li>
  <li>
    <a href="questions-settings.html">
      <i data-feather="settings"></i>
      <span>Settings</span>
    </a>
  </li>
</ul>

<ul class="questions-menu">
  <li>
    <a href="questions-home.html">
      <i data-feather="home"></i>
      <span>Home</span>
    </a>
  </li>
  <li>
    <a href="questions-single.html">
      <i data-feather="message-circle"></i>
      <span>My Questions</span>
    </a>
  </li>
  <li>
    <a href="questions-stats.html">
      <i data-feather="hexagon"></i>
      <span>My Stats</span>
    </a>
  </li>
  <li>
    <a href="questions-categories.html">
      <i data-feather="layers"></i>
      <span>Categories</span>
    </a>
  </li>
  <li>
    <a href="questions-settings.html">
      <i data-feather="settings"></i>
      <span>Settings</span>
    </a>
  </li>
</ul>