<div *ngFor="let post of posts | orderBy : '-createdDate'">
  <div class="card is-post">
    <!-- Main wrap -->
    <div class="content-wrap">
      <!-- Post header -->
      <div class="card-heading">
        <!-- User meta -->
        <div class="user-block">
          <div class="image">
            <img src="https://via.placeholder.com/300x300" data-demo-src="assets/img/avatars/dan.jpg"
              data-user-popover="1" alt="">
          </div>
          <div class="user-info">
            <a href="#">{{post.createdByUserName}}</a>
            <span class="time">{{post.createdDate | date:'short' }}</span>
          </div>
        </div>
        <!-- Right side dropdown -->
        <!-- /partials/pages/feed/dropdowns/feed-post-dropdown.html -->
        <div class="dropdown is-spaced is-right is-neutral dropdown-trigger">
          <div>
            <div class="button">
              <i data-feather="more-vertical"></i>
            </div>
          </div>
          <div class="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <a href="#" class="dropdown-item">
                <div class="media">
                  <i data-feather="bookmark"></i>
                  <div class="media-content">
                    <h3>Bookmark</h3>
                    <small>Add this post to your bookmarks.</small>
                  </div>
                </div>
              </a>
              <a class="dropdown-item">
                <div class="media">
                  <i data-feather="bell"></i>
                  <div class="media-content">
                    <h3>Notify me</h3>
                    <small>Send me the updates.</small>
                  </div>
                </div>
              </a>
              <hr class="dropdown-divider">
              <a href="#" class="dropdown-item">
                <div class="media">
                  <i data-feather="flag"></i>
                  <div class="media-content">
                    <h3>Flag</h3>
                    <small>In case of inappropriate content.</small>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- /Post header -->

      <!-- Post body -->
      <div class="card-body">
        <!-- Post body text -->
        <div class="post-text">
          <div [innerHTML]="post.text"></div>
        </div>
        <!-- Featured image -->
        <div class="post-image">
          <a data-fancybox="post1" data-lightbox-type="comments" data-thumb="assets/img/demo/unsplash/1.jpg"
            href="https://via.placeholder.com/1600x900" data-demo-href="assets/img/demo/unsplash/1.jpg">
            <img src="https://via.placeholder.com/1600x900" data-demo-src="assets/img/demo/unsplash/1.jpg" alt="">
          </a>
          <!-- Action buttons -->
          <!-- /partials/pages/feed/buttons/feed-post-actions.html -->
          <div class="like-wrapper">
            <a href="javascript:void(0);" class="like-button">
              <i class="mdi mdi-heart not-liked bouncy"></i>
              <i class="mdi mdi-heart is-liked bouncy"></i>
              <span class="like-overlay"></span>
            </a>
          </div>

          <div class="fab-wrapper is-share">
            <a href="javascript:void(0);" class="small-fab share-fab modal-trigger" data-modal="share-modal">
              <mat-icon>share</mat-icon>
            </a>
          </div>

          <div class="fab-wrapper is-comment">
            <a href="javascript:void(0);" class="small-fab">
              <mat-icon>chat_bubble_outline</mat-icon>
            </a>
          </div>
        </div>
      </div>
      <!-- /Post body -->

      <!-- Post footer -->
      <div class="card-footer">
        <!-- Followers avatars -->
        <div class="likers-group">
          <img src="https://via.placeholder.com/300x300" data-demo-src="assets/img/avatars/dan.jpg"
            data-user-popover="1" alt="">
          <img src="https://via.placeholder.com/300x300" data-demo-src="assets/img/avatars/david.jpg"
            data-user-popover="4" alt="">
          <img src="https://via.placeholder.com/300x300" data-demo-src="assets/img/avatars/edward.jpeg"
            data-user-popover="5" alt="">
          <img src="https://via.placeholder.com/300x300" data-demo-src="assets/img/avatars/milly.jpg"
            data-user-popover="7" alt="">
        </div>
        <!-- Followers text -->
        <div class="likers-text">
          <p>
            <a href="#">Milly</a>,
            <a href="#">David</a>
          </p>
          <p>and 23 more liked this</p>
        </div>
        <!-- Post statistics -->
        <div class="social-count">
          <div class="likes-count">
            <i data-feather="heart"></i>
            <span>27</span>
          </div>
          <div class="shares-count">
            <i data-feather="link-2"></i>
            <span>9</span>
          </div>
          <div class="comments-count">
            <i data-feather="message-circle"></i>
            <span>3</span>
          </div>
        </div>
      </div>
      <!-- /Post footer -->
    </div>
    <!-- /Main wrap -->

    <!-- Post #1 Comments -->
    <div class="comments-wrap is-hidden">
      <!-- Header -->
      <div class="comments-heading">
        <h4>Comments
          <small>(8)</small>
        </h4>
        <div class="close-comments">
          <i data-feather="x"></i>
        </div>
      </div>
      <!-- /Header -->

      <!-- Comments body -->
      <div class="comments-body has-slimscroll">

        <!-- Comment -->
        <div class="media is-comment">
          <!-- User image -->
          <div class="media-left">
            <div class="image">
              <img src="https://via.placeholder.com/300x300" data-demo-src="assets/img/avatars/dan.jpg"
                data-user-popover="1" alt="">
            </div>
          </div>
          <!-- Content -->
          <div class="media-content">
            <a href="#">Dan Walker</a>
            <span class="time">28 minutes ago</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut
              labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris consequat.
            </p>
            <!-- Actions -->
            <div class="controls">
              <div class="like-count">
                <i data-feather="thumbs-up"></i>
                <span>4</span>
              </div>
              <div class="reply">
                <a href="#">Reply</a>
              </div>
              <div class="edit">
                <a href="#">Edit</a>
              </div>
            </div>

            <!-- Nested Comment -->
            <div class="media is-comment">
              <!-- User image -->
              <div class="media-left">
                <div class="image">
                  <img src="https://via.placeholder.com/300x300" data-demo-src="assets/img/avatars/david.jpg"
                    data-user-popover="4" alt="">
                </div>
              </div>
              <!-- Content -->
              <div class="media-content">
                <a href="#">David Kim</a>
                <span class="time">15 minutes ago</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut
                  labore et
                  dolore magna aliqua.</p>
                <!-- Actions -->
                <div class="controls">
                  <div class="like-count">
                    <i data-feather="thumbs-up"></i>
                    <span>0</span>
                  </div>
                  <div class="reply">
                    <a href="#">Reply</a>
                  </div>
                </div>
              </div>
              <!-- Right side dropdown -->
              <div class="media-right">
                <div class="dropdown is-spaced is-right is-neutral dropdown-trigger">
                  <div>
                    <div class="button">
                      <i data-feather="more-vertical"></i>
                    </div>
                  </div>
                  <div class="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                      <a class="dropdown-item">
                        <div class="media">
                          <i data-feather="x"></i>
                          <div class="media-content">
                            <h3>Hide</h3>
                            <small>Hide this comment.</small>
                          </div>
                        </div>
                      </a>
                      <div class="dropdown-divider"></div>
                      <a href="#" class="dropdown-item">
                        <div class="media">
                          <i data-feather="flag"></i>
                          <div class="media-content">
                            <h3>Report</h3>
                            <small>Report this comment.</small>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Nested Comment -->

          </div>
          <!-- Right side dropdown -->
          <div class="media-right">
            <!-- /partials/pages/feed/dropdowns/comment-dropdown.html -->
            <div class="dropdown is-spaced is-right is-neutral dropdown-trigger">
              <div>
                <div class="button">
                  <i data-feather="more-vertical"></i>
                </div>
              </div>
              <div class="dropdown-menu" role="menu">
                <div class="dropdown-content">
                  <a class="dropdown-item">
                    <div class="media">
                      <i data-feather="x"></i>
                      <div class="media-content">
                        <h3>Hide</h3>
                        <small>Hide this comment.</small>
                      </div>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a href="#" class="dropdown-item">
                    <div class="media">
                      <i data-feather="flag"></i>
                      <div class="media-content">
                        <h3>Report</h3>
                        <small>Report this comment.</small>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Comment -->

        <!-- Comment -->
        <div class="media is-comment">
          <!-- User image -->
          <div class="media-left">
            <div class="image">
              <img src="https://via.placeholder.com/300x300" data-demo-src="assets/img/avatars/rolf.jpg"
                data-user-popover="13" alt="">
            </div>
          </div>
          <!-- Content -->
          <div class="media-content">
            <a href="#">Rolf Krupp</a>
            <span class="time">9 hours ago</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut
              labore et
              dolore magna aliqua. Exercitation ullamco laboris consequat.</p>
            <!-- Actions -->
            <div class="controls">
              <div class="like-count">
                <i data-feather="thumbs-up"></i>
                <span>2</span>
              </div>
              <div class="reply">
                <a href="#">Reply</a>
              </div>
            </div>

            <!-- Nested Comment -->
            <div class="media is-comment">
              <!-- User image -->
              <div class="media-left">
                <div class="image">
                  <img src="https://via.placeholder.com/300x300" data-demo-src="assets/img/avatars/elise.jpg"
                    data-user-popover="6" alt="">
                </div>
              </div>
              <!-- Content -->
              <div class="media-content">
                <a href="#">Elise Walker</a>
                <span class="time">8 hours ago</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut
                  labore et
                  dolore magna aliqua.</p>
                <!-- Actions -->
                <div class="controls">
                  <div class="like-count">
                    <i data-feather="thumbs-up"></i>
                    <span>0</span>
                  </div>
                  <div class="reply">
                    <a href="#">Reply</a>
                  </div>
                </div>
              </div>
              <!-- Right side dropdown -->
              <div class="media-right">
                <div class="dropdown is-spaced is-right is-neutral dropdown-trigger">
                  <div>
                    <div class="button">
                      <i data-feather="more-vertical"></i>
                    </div>
                  </div>
                  <div class="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                      <a class="dropdown-item">
                        <div class="media">
                          <i data-feather="x"></i>
                          <div class="media-content">
                            <h3>Hide</h3>
                            <small>Hide this comment.</small>
                          </div>
                        </div>
                      </a>
                      <div class="dropdown-divider"></div>
                      <a href="#" class="dropdown-item">
                        <div class="media">
                          <i data-feather="flag"></i>
                          <div class="media-content">
                            <h3>Report</h3>
                            <small>Report this comment.</small>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Nested Comment -->

            <!-- Nested Comment -->
            <div class="media is-comment">
              <!-- User image -->
              <div class="media-left">
                <div class="image">
                  <img src="https://via.placeholder.com/300x300" data-demo-src="assets/img/avatars/rolf.jpg"
                    data-user-popover="13" alt="">
                </div>
              </div>
              <!-- Content -->
              <div class="media-content">
                <a href="#">Rolf Krupp</a>
                <span class="time">7 hours ago</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut
                  labore et
                  dolore magna aliqua.</p>
                <!-- Actions -->
                <div class="controls">
                  <div class="like-count">
                    <i data-feather="thumbs-up"></i>
                    <span>1</span>
                  </div>
                  <div class="reply">
                    <a href="#">Reply</a>
                  </div>
                </div>
              </div>
              <!-- Right side dropdown -->
              <div class="media-right">
                <div class="dropdown is-spaced is-right is-neutral dropdown-trigger">
                  <div>
                    <div class="button">
                      <i data-feather="more-vertical"></i>
                    </div>
                  </div>
                  <div class="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                      <a class="dropdown-item">
                        <div class="media">
                          <i data-feather="x"></i>
                          <div class="media-content">
                            <h3>Hide</h3>
                            <small>Hide this comment.</small>
                          </div>
                        </div>
                      </a>
                      <div class="dropdown-divider"></div>
                      <a href="#" class="dropdown-item">
                        <div class="media">
                          <i data-feather="flag"></i>
                          <div class="media-content">
                            <h3>Report</h3>
                            <small>Report this comment.</small>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Nested Comment -->

            <!-- Nested Comment -->
            <div class="media is-comment">
              <!-- User image -->
              <div class="media-left">
                <div class="image">
                  <img src="https://via.placeholder.com/300x300" data-demo-src="assets/img/avatars/elise.jpg"
                    data-user-popover="6" alt="">
                </div>
              </div>
              <!-- Content -->
              <div class="media-content">
                <a href="#">Elise Walker</a>
                <span class="time">6 hours ago</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut
                  labore et
                  dolore magna aliqua.</p>
                <!-- Actions -->
                <div class="controls">
                  <div class="like-count">
                    <i data-feather="thumbs-up"></i>
                    <span>0</span>
                  </div>
                  <div class="reply">
                    <a href="#">Reply</a>
                  </div>
                </div>
              </div>
              <!-- Right side dropdown -->
              <div class="media-right">
                <div class="dropdown is-spaced is-right is-neutral dropdown-trigger">
                  <div>
                    <div class="button">
                      <i data-feather="more-vertical"></i>
                    </div>
                  </div>
                  <div class="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                      <a class="dropdown-item">
                        <div class="media">
                          <i data-feather="x"></i>
                          <div class="media-content">
                            <h3>Hide</h3>
                            <small>Hide this comment.</small>
                          </div>
                        </div>
                      </a>
                      <div class="dropdown-divider"></div>
                      <a href="#" class="dropdown-item">
                        <div class="media">
                          <i data-feather="flag"></i>
                          <div class="media-content">
                            <h3>Report</h3>
                            <small>Report this comment.</small>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Nested Comment -->

          </div>
          <!-- Right side dropdown -->
          <div class="media-right">
            <div class="dropdown is-spaced is-right is-neutral dropdown-trigger">
              <div>
                <div class="button">
                  <i data-feather="more-vertical"></i>
                </div>
              </div>
              <div class="dropdown-menu" role="menu">
                <div class="dropdown-content">
                  <a class="dropdown-item">
                    <div class="media">
                      <i data-feather="x"></i>
                      <div class="media-content">
                        <h3>Hide</h3>
                        <small>Hide this comment.</small>
                      </div>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a href="#" class="dropdown-item">
                    <div class="media">
                      <i data-feather="flag"></i>
                      <div class="media-content">
                        <h3>Report</h3>
                        <small>Report this comment.</small>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Comment -->

        <!-- Comment -->
        <div class="media is-comment">
          <!-- User image -->
          <div class="media-left">
            <div class="image">
              <img src="https://via.placeholder.com/300x300" data-demo-src="assets/img/avatars/lana.jpeg"
                data-user-popover="10" alt="">
            </div>
          </div>
          <!-- Content -->
          <div class="media-content">
            <a href="#">Lana Henrikssen</a>
            <span class="time">10 hours ago</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut
              labore
              et dolore magna aliqua.</p>
            <!-- Comment actions -->
            <div class="controls">
              <div class="like-count">
                <i data-feather="thumbs-up"></i>
                <span>5</span>
              </div>
              <div class="reply">
                <a href="#">Reply</a>
              </div>
            </div>
          </div>
          <!-- Right side dropdown -->
          <div class="media-right">
            <div class="dropdown is-spaced is-right is-neutral dropdown-trigger">
              <div>
                <div class="button">
                  <i data-feather="more-vertical"></i>
                </div>
              </div>
              <div class="dropdown-menu" role="menu">
                <div class="dropdown-content">
                  <a class="dropdown-item">
                    <div class="media">
                      <i data-feather="x"></i>
                      <div class="media-content">
                        <h3>Hide</h3>
                        <small>Hide this comment.</small>
                      </div>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a href="#" class="dropdown-item">
                    <div class="media">
                      <i data-feather="flag"></i>
                      <div class="media-content">
                        <h3>Report</h3>
                        <small>Report this comment.</small>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Comment -->

      </div>
      <!-- /Comments body -->

      <!-- Comments footer -->
      <div class="card-footer">
        <div class="media post-comment has-emojis">
          <!-- Comment Textarea -->
          <div class="media-content">
            <div class="field">
              <p class="control">
                <textarea class="textarea comment-textarea" rows="5" placeholder="Write a comment..."></textarea>
              </p>
            </div>
            <!-- Additional actions -->
            <div class="actions">
              <div class="image is-32x32">
                <img class="is-rounded" src="https://via.placeholder.com/300x300"
                  data-demo-src="assets/img/avatars/jenna.png" data-user-popover="0" alt="">
              </div>
              <div class="toolbar">
                <div class="action is-auto">
                  <i data-feather="at-sign"></i>
                </div>
                <div class="action is-emoji">
                  <i data-feather="smile"></i>
                </div>
                <div class="action is-upload">
                  <i data-feather="camera"></i>
                  <input type="file">
                </div>
                <a class="button is-solid primary-button raised">Post Comment</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Comments footer -->
    </div>
    <!-- /Post #1 Comments -->
  </div>
</div>

<!-- /POST #6 -->
<!-- Load more posts -->
<div class=" load-more-wrap narrow-top has-text-centered">
  <a href="#" class="load-more-button">Load More</a>
</div>
<!-- /Load more posts -->