<!--preloader-->
<div id="spinner-wrapper" *ngIf="!posts || newPost || newComment">
  <div class="spinner"></div>
</div>

<div *ngFor="let post of posts | orderBy:-'createdDate'">
  <div class="card is-post">

    <div class="content-wrap">

      <div class="card-heading">
        <!-- User meta -->
        <div class="user-block">
          <div class="image">
            <img src="{{post.createdByUserPhoto}}" data-demo-src="{{post.createdByUserPhoto}}"
              title="{{post.createdByUserName}}">
          </div>
          <div class="user-info">
            <a href="#">{{post.createdByUserName}}</a>
            <span class="time">{{post.createdDate | date:'short' }}</span>
          </div>
        </div>
        <!-- Right side dropdown -->
        <!-- /partials/pages/feed/dropdowns/feed-post-dropdown.html -->
        <div class="dropdown is-spaced is-right is-neutral dropdown-trigger">
          <div>
            <div class="button">
              <i data-feather="more-vertical"></i>
            </div>
          </div>
          <div class="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <a href="#" class="dropdown-item">
                <div class="media">
                  <i data-feather="bookmark"></i>
                  <div class="media-content">
                    <h3>Bookmark</h3>
                    <small>Add this post to your bookmarks.</small>
                  </div>
                </div>
              </a>
              <a class="dropdown-item">
                <div class="media">
                  <i data-feather="bell"></i>
                  <div class="media-content">
                    <h3>Notify me</h3>
                    <small>Send me the updates.</small>
                  </div>
                </div>
              </a>
              <hr class="dropdown-divider">
              <a href="#" class="dropdown-item">
                <div class="media">
                  <i data-feather="flag"></i>
                  <div class="media-content">
                    <h3>Flag</h3>
                    <small>In case of inappropriate content.</small>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body">
        <!-- Post body text -->
        <div class="post-text">
          <div [innerHTML]="post.text"></div>
        </div>
        <!-- Featured image -->
        <div class="post-image">
          <div *ngIf="post.imageUrlList?.length > 0">
            <div *ngFor="let imageUrl of post.imageUrlList">
              <a attr.data-fancybox="{{post.fancyboxData}}" data-lightbox-type="comments" id="post{{post.id}}"
                data-thumb="{{imageUrl}}" href="{{imageUrl}}" data-demo-href="{{imageUrl}}">
                <img src="{{imageUrl}}" data-demo-src="{{imageUrl}}" alt="">
              </a>
            </div>
          </div>

          <div class="like-wrapper">
            <a href="javascript:void(0);" class="like-button">
              <i class="mdi mdi-heart not-liked bouncy"></i>
              <i class="mdi mdi-heart is-liked bouncy"></i>
              <mat-icon>favorite_border</mat-icon>
            </a>
          </div>

          <div class="fab-wrapper is-share">
            <a href="javascript:void(0);" class="small-fab share-fab modal-trigger" data-modal="share-modal">
              <mat-icon>link</mat-icon>
            </a>
          </div>

          <div class="fab-wrapper is-comment">
            <a href="javascript:void(0);" class="small-fab">
              <mat-icon>chat_bubble_outline</mat-icon>
            </a>
          </div>

        </div>
      </div>

      <div class="card-footer">
        <!-- Followers avatars -->
        <div class="likers-group">
          <img src="https://via.placeholder.com/300x300" data-demo-src="assets/img/avatars/dan.jpg"
            data-user-popover="1" alt="">
          <img src="https://via.placeholder.com/300x300" data-demo-src="assets/img/avatars/david.jpg"
            data-user-popover="4" alt="">
          <img src="https://via.placeholder.com/300x300" data-demo-src="assets/img/avatars/edward.jpeg"
            data-user-popover="5" alt="">
          <img src="https://via.placeholder.com/300x300" data-demo-src="assets/img/avatars/milly.jpg"
            data-user-popover="7" alt="">
        </div>
        <!-- Followers text -->
        <div class="likers-text">
          <p>
            <a href="#">Milly</a>,
            <a href="#">David</a>
          </p>
          <p>and 23 more liked this</p>
        </div>

        <!-- Post statistics -->
        <div class="social-count">
          <div class="likes-count">
            <mat-icon>favorite_border</mat-icon>
            <span>27</span>
          </div>
          <div class="shares-count">
            <mat-icon>link</mat-icon>
            <span>9</span>
          </div>
          <div class="comments-count">
            <mat-icon>chat_bubble_outline</mat-icon>
            <span>3</span>
          </div>
        </div>
      </div>

    </div>

    <app-comment-layout [signedUser]="signedUser" [singlePost]="post"></app-comment-layout>

  </div>
</div>

<!-- Load more posts -->
<div class=" load-more-wrap narrow-top has-text-centered">
  <a href="#" class="load-more-button">Load More</a>
</div>
<!-- /Load more posts -->