ngx-gallery ngx-gallery-image .ngx-gallery-arrow {
    background-color: orangered;
  }
  ngx-gallery  ngx-gallery-thumbnails .ngx-gallery-arrow {
    background-color: orangered;
  }
  ngx-gallery ngx-gallery-preview .ngx-gallery-arrow {
    background-color: orangered;
  }


  .mat-sidenav-container, .mat-sidenav-content, .mat-tab-body-content {
    transform: none !important;
}