<!-- Stories widget -->
<!-- /partials/widgets/stories-widget.html -->
<div class="card" *ngIf="signedUser">

  <div class="card-heading is-bordered">
    <h4>Stories</h4>
    <div class="dropdown is-spaced is-neutral is-right dropdown-trigger">
      <div>
        <div class="button">
          <i data-feather="more-vertical"></i>
        </div>
      </div>
      <div class="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <a href="#" class="dropdown-item">
            <div class="media">
              <mat-icon>tv</mat-icon>
              <div class="media-content">
                <h3>Browse stories</h3>
                <small>View all recent stories.</small>
              </div>
            </div>
          </a>
          <a class="dropdown-item">
            <div class="media">
              <mat-icon>settings</mat-icon>
              <div class="media-content">
                <h3>Settings</h3>
                <small>Access widget settings.</small>
              </div>
            </div>
          </a>
          <hr class="dropdown-divider">
          <a href="#" class="dropdown-item">
            <div class="media">
              <mat-icon>delete</mat-icon>
              <div class="media-content">
                <h3>Remove</h3>
                <small>Removes this widget from your feed.</small>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body no-padding">

    <!-- Story block -->
    <div class="story-block">
      <a data-modal="image-story-modal" class="add-story story modal-trigger">
        <mat-icon>add_circle_outline</mat-icon>
      </a>
      <div class="story-meta">
        <span>Add a new Story</span>
        <span>Share an image, a video or some text</span>
      </div>
    </div>

    <!-- Story block -->
    <div class="story-block">
      <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
    </div>

  </div>
</div>