<div>
  <div class="tabs-wrapper">
    <form role="form" #myForm="ngForm" accept-charset="UTF-8" novalidate (ngSubmit)="saveQuestion()">
      <div class="tab-content">

        <div class="control">
          <input type="text" 
          [(ngModel)]="questionCreate.title" 
          name="title" 
          placeholder="Enter your title for the question" 
          class="input is-rounded" 
          required
          [ngModelOptions]="{standalone: true}"> <br><br>
        </div>

        <div class="control">
          <tag-input [editable]='true'  
          [placeholder]="'Enter tags'" 
          [secondaryPlaceholder]="'Enter tags'"
          [addOnBlur]="true" 
          [clearOnBlur]="true"
          [trimTags]="true"
          [separatorKeyCodes]="[32,188]" 
          theme='bootstrap' 
          [(ngModel)]="questionCreate.tags" 
          [ngModelOptions]="{standalone: true}"></tag-input> <br><br>
        </div>

        <div class="form-group has-feedback" [ngClass]="{ 'has-error': myckeditor.invalid && myckeditor.touched }">
          <ckeditor [(ngModel)]="questionCreate.description" 
          #myckeditor="ngModel" 
          name="description"
          required
          [config]="ckeConfig"
          debounce="500" 
          (paste)="onPaste($event)" 
          (change)="onChange($event)"
          [ngModelOptions]="{standalone: true}">
          </ckeditor>
        </div>

        <div class="more-wrap" style="display: block !important;">
          <button id="publish-button" 
          type="submit" 
          [disabled]="myForm.invalid"
          class="button is-solid accent-button is-fullwidth">
          Publish
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<br><br>