<div id="main-navbar" class="navbar is-inline-flex is-transparent no-shadow is-hidden-mobile">
    <div class="container is-fluid">
        <div class="navbar-brand">
            <a routerLink="" class="navbar-item">
                <img class="logo" src="../../../../../assets/img/logo/friendkit-bold.svg" width="112" height="28"
                    alt="">
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <!-- Navbar Search -->
                <div class="navbar-item is-icon drop-trigger">
                    <a class="icon-link is-secondary is-friends" href="javascript:void(0);">
                        <mat-icon>favorite_border</mat-icon>
                        <span class="indicator"></span>
                    </a>

                    <div class="nav-drop">
                        <div class="inner">
                            <div class="nav-drop-header">
                                <span>Friend requests</span>
                                <a href="#">
                                    <i data-feather="search"></i>
                                </a>
                            </div>
                            <div class="nav-drop-body is-friend-requests">
                                <!-- Friend request -->
                                <div class="media">
                                    <figure class="media-left">
                                        <p class="image">
                                            <img src="https://via.placeholder.com/300x300"
                                                data-demo-src="../../../../../assets/img/avatars/bobby.jpg" alt="">
                                        </p>
                                    </figure>
                                    <div class="media-content">
                                        <a href="#">Bobby Brown</a>
                                        <span>Najeel verwick is a common friend</span>
                                    </div>
                                    <div class="media-right">
                                        <button class="button icon-button is-solid grey-button raised">
                                            <i data-feather="user-plus"></i>
                                        </button>
                                        <button class="button icon-button is-solid grey-button raised">
                                            <i data-feather="user-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- Friend request -->
                                <div class="media">
                                    <figure class="media-left">
                                        <p class="image">
                                            <img src="https://via.placeholder.com/300x300"
                                                data-demo-src="../../../../../assets/img/avatars/dan.jpg" alt="">
                                        </p>
                                    </figure>
                                    <div class="media-content">
                                        <a href="#">Dan Walker</a>
                                        <span>You have 4 common friends</span>
                                    </div>
                                    <div class="media-right">
                                        <button class="button icon-button is-solid grey-button raised">
                                            <i data-feather="user-plus"></i>
                                        </button>
                                        <button class="button icon-button is-solid grey-button raised">
                                            <i data-feather="user-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- Friend request -->
                                <div class="media">
                                    <figure class="media-left">
                                        <p class="image">
                                            <img src="https://via.placeholder.com/300x300"
                                                data-demo-src="../../../../../assets/img/avatars/nelly.png" alt="">
                                        </p>
                                    </figure>
                                    <div class="media-content">
                                        <span>You are now friends with <a href="#">Nelly Schwartz</a>. Check her <a
                                                href="#">profile</a>.</span>
                                    </div>
                                    <div class="media-right">
                                        <div class="added-icon">
                                            <i data-feather="tag"></i>
                                        </div>
                                    </div>
                                </div>
                                <!-- Friend request -->
                                <div class="media">
                                    <figure class="media-left">
                                        <p class="image">
                                            <img src="https://via.placeholder.com/300x300"
                                                data-demo-src="../../../../../assets/img/avatars/milly.jpg" alt="">
                                        </p>
                                    </figure>
                                    <div class="media-content">
                                        <a href="#">Milly Augustine</a>
                                        <span>You have 8 common friends</span>
                                    </div>
                                    <div class="media-right">
                                        <button class="button icon-button is-solid grey-button raised">
                                            <i data-feather="user-plus"></i>
                                        </button>
                                        <button class="button icon-button is-solid grey-button raised">
                                            <i data-feather="user-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- Friend request -->
                                <div class="media">
                                    <figure class="media-left">
                                        <p class="image">
                                            <img src="https://via.placeholder.com/300x300"
                                                data-demo-src="../../../../../assets/img/avatars/elise.jpg" alt="">
                                        </p>
                                    </figure>
                                    <div class="media-content">
                                        <span>You are now friends with <a href="#">Elise Walker</a>. Check her <a
                                                href="#">profile</a>.</span>
                                    </div>
                                    <div class="media-right">
                                        <div class="added-icon">
                                            <i data-feather="tag"></i>
                                        </div>
                                    </div>
                                </div>
                                <!-- Friend request -->
                                <div class="media">
                                    <figure class="media-left">
                                        <p class="image">
                                            <img src="https://via.placeholder.com/300x300"
                                                data-demo-src="../../../../../assets/img/avatars/edward.jpeg" alt="">
                                        </p>
                                    </figure>
                                    <div class="media-content">
                                        <span>You are now friends with <a href="#">Edward Mayers</a>. Check his <a
                                                href="#">profile</a>.</span>
                                    </div>
                                    <div class="media-right">
                                        <div class="added-icon">
                                            <i data-feather="tag"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="nav-drop-footer">
                                <a href="#">View All</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="navbar-item is-icon drop-trigger">
                    <a class="icon-link" href="javascript:void(0);">
                        <mat-icon>notifications_active</mat-icon>
                        <span class="indicator"></span>
                    </a>

                    <div class="nav-drop">
                        <div class="inner">
                            <div class="nav-drop-header">
                                <span>Notifications</span>
                                <a href="#">
                                    <mat-icon>notifications_active</mat-icon>
                                </a>
                            </div>
                            <div class="nav-drop-body is-notifications">
                                <!-- Notification -->
                                <div class="media">
                                    <figure class="media-left">
                                        <p class="image">
                                            <img src="https://via.placeholder.com/300x300"
                                                data-demo-src="../../../../../assets/img/avatars/david.jpg" alt="">
                                        </p>
                                    </figure>
                                    <div class="media-content">
                                        <span><a href="#">David Kim</a> commented on <a href="#">your post</a>.</span>
                                        <span class="time">30 minutes ago</span>
                                    </div>
                                    <div class="media-right">
                                        <div class="added-icon">
                                            <i data-feather="message-square"></i>
                                        </div>
                                    </div>
                                </div>
                                <!-- Notification -->
                                <div class="media">
                                    <figure class="media-left">
                                        <p class="image">
                                            <img src="https://via.placeholder.com/300x300"
                                                data-demo-src="../../../../../assets/img/avatars/daniel.jpg" alt="">
                                        </p>
                                    </figure>
                                    <div class="media-content">
                                        <span><a href="#">Daniel Wellington</a> liked your <a
                                                href="#">profile.</a></span>
                                        <span class="time">43 minutes ago</span>
                                    </div>
                                    <div class="media-right">
                                        <div class="added-icon">
                                            <i data-feather="heart"></i>
                                        </div>
                                    </div>
                                </div>
                                <!-- Notification -->
                                <div class="media">
                                    <figure class="media-left">
                                        <p class="image">
                                            <img src="https://via.placeholder.com/300x300"
                                                data-demo-src="../../../../../assets/img/avatars/stella.jpg" alt="">
                                        </p>
                                    </figure>
                                    <div class="media-content">
                                        <span><a href="#">Stella Bergmann</a> shared a <a href="#">New video</a> on your
                                            wall.</span>
                                        <span class="time">Yesterday</span>
                                    </div>
                                    <div class="media-right">
                                        <div class="added-icon">
                                            <i data-feather="youtube"></i>
                                        </div>
                                    </div>
                                </div>
                                <!-- Notification -->
                                <div class="media">
                                    <figure class="media-left">
                                        <p class="image">
                                            <img src="https://via.placeholder.com/300x300"
                                                data-demo-src="../../../../../assets/img/avatars/elise.jpg" alt="">
                                        </p>
                                    </figure>
                                    <div class="media-content">
                                        <span><a href="#">Elise Walker</a> shared an <a href="#">Image</a> with you an 2
                                            other people.</span>
                                        <span class="time">2 days ago</span>
                                    </div>
                                    <div class="media-right">
                                        <div class="added-icon">
                                            <i data-feather="image"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="nav-drop-footer">
                                <a href="#">View All</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="navbar-item is-icon drop-trigger">
                    <a class="icon-link" href="javascript:void(0);">
                        <mat-icon>move_to_inbox</mat-icon>
                        <span class="indicator"></span>
                    </a>

                    <div class="nav-drop">
                        <div class="inner">
                            <div class="nav-drop-header">
                                <span>Messages</span>
                                <a href="messages-inbox.html">Inbox</a>
                            </div>
                            <div class="nav-drop-body is-friend-requests">
                                <!-- Message -->
                                <div class="media">
                                    <figure class="media-left">
                                        <p class="image">
                                            <img src="https://via.placeholder.com/150x150"
                                                data-demo-src="../../../../../assets/img/avatars/nelly.png"
                                                data-user-popover="9" alt="">
                                        </p>
                                    </figure>
                                    <div class="media-content">
                                        <a href="#">Nelly Schwartz</a>
                                        <span>I think we should meet near the Starbucks so we can get...</span>
                                        <span class="time">Yesterday</span>
                                    </div>
                                    <div class="media-right is-centered">
                                        <div class="added-icon">
                                            <i data-feather="message-square"></i>
                                        </div>
                                    </div>
                                </div>
                                <!-- Message -->
                                <div class="media">
                                    <figure class="media-left">
                                        <p class="image">
                                            <img src="https://via.placeholder.com/150x150"
                                                data-demo-src="../../../../../assets/img/avatars/edward.jpeg"
                                                data-user-popover="5" alt="">
                                        </p>
                                    </figure>
                                    <div class="media-content">
                                        <a href="#">Edward Mayers</a>
                                        <span>That was a real pleasure seeing you last time we really should...</span>
                                        <span class="time">last week</span>
                                    </div>
                                    <div class="media-right is-centered">
                                        <div class="added-icon">
                                            <i data-feather="message-square"></i>
                                        </div>
                                    </div>
                                </div>
                                <!-- Message -->
                                <div class="media">
                                    <figure class="media-left">
                                        <p class="image">
                                            <img src="https://via.placeholder.com/150x150"
                                                data-demo-src="../../../../../assets/img/avatars/dan.jpg"
                                                data-user-popover="1" alt="">
                                        </p>
                                    </figure>
                                    <div class="media-content">
                                        <a href="#">Dan Walker</a>
                                        <span>Hey there, would it be possible to borrow your bicycle, i really
                                            need...</span>
                                        <span class="time">Jun 03 2018</span>
                                    </div>
                                    <div class="media-right is-centered">
                                        <div class="added-icon">
                                            <i data-feather="message-square"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="nav-drop-footer">
                                <a href="#">Clear All</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="navbar-item is-icon drop-trigger">
                    <a class="icon-link" routerLink="story">
                        <span class="material-icons">
                            history
                        </span>
                        <span class="indicator"></span>
                    </a>
                </div>

                <div class="navbar-item is-icon open-chat">
                    <a class="icon-link" href="javascript:void(0);">
                        <mat-icon>chat</mat-icon>
                        <span class="indicator"></span>
                    </a>
                </div>

                <div id="explorer-trigger" class="navbar-item is-icon">
                    <a class="icon-link is-primary">
                        <i class="mdi mdi-apps"></i>
                    </a>
                </div>
            </div>

            <div class="navbar-end">

                <div class="navbar-item">
                    <div id="global-search" class="control">
                        <input id="tipue_drop_input" class="input is-rounded" type="text" placeholder="Search" required>
                        <span id="clear-search" class="reset-search">
                            <i data-feather="x"></i>
                        </span>
                        <span class="search-icon">
                            <i data-feather="search"></i>
                        </span>
                        <span class="drop-icon">
                            <i data-feather="more-vertical"></i>
                        </span>

                        <!-- Search Dropdown -->
                        <div class="search-options">
                            <ul class="options-list">
                                <!-- Search Option -->
                                <li class="is-selected">
                                    <!--label class="material-radio">
                                      <input type="radio" name="search-type" checked>
                                      <span class="radio-label"></span>
                                  </label-->
                                    <span class="option-icon">
                                        <i data-feather="search"></i>
                                    </span>
                                    <span class="option-description">
                                        <span>Search All</span>
                                        <span>Search everything </span>
                                    </span>
                                </li>
                                <!-- Search Option -->
                                <li>
                                    <span class="option-icon">
                                        <i data-feather="users"></i>
                                    </span>
                                    <span class="option-description">
                                        <span>Search People</span>
                                        <span>Search accross people and friends</span>
                                    </span>
                                </li>
                                <!-- Search Option -->
                                <li>
                                    <span class="option-icon">
                                        <i data-feather="file-text"></i>
                                    </span>
                                    <span class="option-description">
                                        <span>Search Pages</span>
                                        <span>Search all Posts and news feeds</span>
                                    </span>
                                </li>
                            </ul>
                            <!-- Close -->
                            <div class="is-close">
                                <button id="close-search-options" type="button"
                                    class="button is-solid grey-button">Close</button>
                            </div>
                        </div>

                        <div id="tipue_drop_content"></div>
                    </div>

                </div>

                <div id="account-dropdown" class="navbar-item is-account drop-trigger has-caret" *ngIf="signedUser">
                    <div class="user-image">
                        <img src="https://via.placeholder.com/400x400"
                            data-demo-src="../../../../../assets/img/avatars/jenna.png" alt="">
                        <span class="indicator"></span>
                    </div>

                    <div class="nav-drop is-account-dropdown">
                        <div class="inner">
                            <div class="nav-drop-header">
                                <span class="username">Jenna Davis</span>
                                <a href="profile-main.html">Profile</a>
                            </div>
                            <div class="nav-drop-body account-items">
                                <a id="profile-link" href="/profile-main.html" class="account-item">
                                    <div class="media">
                                        <div class="media-left">
                                            <div class="image">
                                                <img src="https://via.placeholder.com/400x400"
                                                    data-demo-src="../../../../../assets/img/avatars/jenna.png" alt="">
                                            </div>
                                        </div>
                                        <div class="media-content">
                                            <h3>Jenna Davis</h3>
                                            <small>Main account</small>
                                        </div>
                                        <div class="media-right">
                                            <i data-feather="check"></i>
                                        </div>
                                    </div>
                                </a>
                                <hr class="account-divider">
                                <a href="/pages-main.html" class="account-item">
                                    <div class="media">
                                        <div class="media-left">
                                            <div class="image">
                                                <img src="https://via.placeholder.com/300x300"
                                                    data-demo-src="../../../../../assets/img/avatars/hanzo.svg" alt="">
                                            </div>
                                        </div>
                                        <div class="media-content">
                                            <h3>Css Ninja</h3>
                                            <small>Company page</small>
                                        </div>
                                        <div class="media-right is-hidden">
                                            <i data-feather="check"></i>
                                        </div>
                                    </div>
                                </a>
                                <a href="/pages-main.html" class="account-item">
                                    <div class="media">
                                        <div class="media-left">
                                            <div class="image">
                                                <img src="https://via.placeholder.com/300x300"
                                                    data-demo-src="../../../../../assets/img/icons/logos/fastpizza.svg"
                                                    alt="">
                                            </div>
                                        </div>
                                        <div class="media-content">
                                            <h3>Fast Pizza</h3>
                                            <small>Company page</small>
                                        </div>
                                        <div class="media-right is-hidden">
                                            <i data-feather="check"></i>
                                        </div>
                                    </div>
                                </a>
                                <a href="/pages-main.html" class="account-item">
                                    <div class="media">
                                        <div class="media-left">
                                            <div class="image">
                                                <img src="https://via.placeholder.com/300x300"
                                                    data-demo-src="../../../../../assets/img/icons/logos/slicer.svg"
                                                    alt="">
                                            </div>
                                        </div>
                                        <div class="media-content">
                                            <h3>Slicer</h3>
                                            <small>Company page</small>
                                        </div>
                                        <div class="media-right is-hidden">
                                            <i data-feather="check"></i>
                                        </div>
                                    </div>
                                </a>
                                <hr class="account-divider">
                                <a href="/options-settings.html" class="account-item">
                                    <div class="media">
                                        <div class="icon-wrap">
                                            <i data-feather="settings"></i>
                                        </div>
                                        <div class="media-content">
                                            <h3>Settings</h3>
                                            <small>Access widget settings.</small>
                                        </div>
                                    </div>
                                </a>
                                <a class="account-item">
                                    <div class="media">
                                        <div class="icon-wrap">
                                            <i data-feather="life-buoy"></i>
                                        </div>
                                        <div class="media-content">
                                            <h3>Help</h3>
                                            <small>Contact our support.</small>
                                        </div>
                                    </div>
                                </a>
                                <a class="account-item">
                                    <div class="media">
                                        <div class="icon-wrap">
                                            <i data-feather="power"></i>
                                        </div>
                                        <div class="media-content">
                                            <h3>Log out</h3>
                                            <small>Log out from your account.</small>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="!signedUser" class="navbar-item is-account drop-trigger has-caret">
                    <a class="button is-rounded is-phantom accent-button" routerLink="account/login">Login</a>
                    <a class="button is-rounded is-phantom accent-button" routerLink="account/register">Register</a>
                </div>

                <div class="navbar-item is-plus-menu is-hidden">
                    <a id="plus-menu" class="button action-button is-solid primary-button raised">
                        <i data-feather="plus"></i>
                    </a>
                    <div class="plus-drop">
                        <div class="drop-content">
                            <a>
                                <i data-feather="book"></i>
                                <div class="meta">
                                    <span>Guides</span>
                                    <span>Learn everything fast</span>
                                </div>
                            </a>
                            <a>
                                <i data-feather="help-circle"></i>
                                <div class="meta">
                                    <span>FAQ</span>
                                    <span>Most asked questions</span>
                                </div>
                            </a>
                            <a>
                                <i data-feather="life-buoy"></i>
                                <div class="meta">
                                    <span>Assistance</span>
                                    <span>Get in touch with support</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<nav class="navbar mobile-navbar is-hidden-desktop" aria-label="main navigation">
    <!-- Brand -->
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="../../../../../assets/img/logo/friendkit.svg" alt="">
        </a>

        <div class="navbar-item is-icon drop-trigger">
            <a class="icon-link is-secondary is-friends" href="javascript:void(0);">
                <i data-feather="heart"></i>
                <span class="indicator"></span>
            </a>

            <div class="nav-drop">
                <div class="inner">
                    <div class="nav-drop-header">
                        <span>Friend requests</span>
                        <a href="#">
                            <i data-feather="search"></i>
                        </a>
                    </div>
                    <div class="nav-drop-body is-friend-requests">
                        <!-- Friend request -->
                        <div class="media">
                            <figure class="media-left">
                                <p class="image">
                                    <img src="https://via.placeholder.com/300x300"
                                        data-demo-src="../../../../../assets/img/avatars/bobby.jpg" alt="">
                                </p>
                            </figure>
                            <div class="media-content">
                                <a href="#">Bobby Brown</a>
                                <span>Najeel verwick is a common friend</span>
                            </div>
                            <div class="media-right">
                                <button class="button icon-button is-solid grey-button raised">
                                    <i data-feather="user-plus"></i>
                                </button>
                                <button class="button icon-button is-solid grey-button raised">
                                    <i data-feather="user-minus"></i>
                                </button>
                            </div>
                        </div>
                        <!-- Friend request -->
                        <div class="media">
                            <figure class="media-left">
                                <p class="image">
                                    <img src="https://via.placeholder.com/300x300"
                                        data-demo-src="../../../../../assets/img/avatars/dan.jpg" alt="">
                                </p>
                            </figure>
                            <div class="media-content">
                                <a href="#">Dan Walker</a>
                                <span>You have 4 common friends</span>
                            </div>
                            <div class="media-right">
                                <button class="button icon-button is-solid grey-button raised">
                                    <i data-feather="user-plus"></i>
                                </button>
                                <button class="button icon-button is-solid grey-button raised">
                                    <i data-feather="user-minus"></i>
                                </button>
                            </div>
                        </div>
                        <!-- Friend request -->
                        <div class="media">
                            <figure class="media-left">
                                <p class="image">
                                    <img src="https://via.placeholder.com/300x300"
                                        data-demo-src="../../../../../assets/img/avatars/nelly.png" alt="">
                                </p>
                            </figure>
                            <div class="media-content">
                                <span>You are now friends with <a href="#">Nelly Schwartz</a>. Check her <a
                                        href="#">profile</a>.</span>
                            </div>
                            <div class="media-right">
                                <div class="added-icon">
                                    <i data-feather="tag"></i>
                                </div>
                            </div>
                        </div>
                        <!-- Friend request -->
                        <div class="media">
                            <figure class="media-left">
                                <p class="image">
                                    <img src="https://via.placeholder.com/300x300"
                                        data-demo-src="../../../../../assets/img/avatars/milly.jpg" alt="">
                                </p>
                            </figure>
                            <div class="media-content">
                                <a href="#">Milly Augustine</a>
                                <span>You have 8 common friends</span>
                            </div>
                            <div class="media-right">
                                <button class="button icon-button is-solid grey-button raised">
                                    <i data-feather="user-plus"></i>
                                </button>
                                <button class="button icon-button is-solid grey-button raised">
                                    <i data-feather="user-minus"></i>
                                </button>
                            </div>
                        </div>
                        <!-- Friend request -->
                        <div class="media">
                            <figure class="media-left">
                                <p class="image">
                                    <img src="https://via.placeholder.com/300x300"
                                        data-demo-src="../../../../../assets/img/avatars/elise.jpg" alt="">
                                </p>
                            </figure>
                            <div class="media-content">
                                <span>You are now friends with <a href="#">Elise Walker</a>. Check her <a
                                        href="#">profile</a>.</span>
                            </div>
                            <div class="media-right">
                                <div class="added-icon">
                                    <i data-feather="tag"></i>
                                </div>
                            </div>
                        </div>
                        <!-- Friend request -->
                        <div class="media">
                            <figure class="media-left">
                                <p class="image">
                                    <img src="https://via.placeholder.com/300x300"
                                        data-demo-src="../../../../../assets/img/avatars/edward.jpeg" alt="">
                                </p>
                            </figure>
                            <div class="media-content">
                                <span>You are now friends with <a href="#">Edward Mayers</a>. Check his <a
                                        href="#">profile</a>.</span>
                            </div>
                            <div class="media-right">
                                <div class="added-icon">
                                    <i data-feather="tag"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nav-drop-footer">
                        <a href="#">View All</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar-item is-icon drop-trigger">
            <a class="icon-link" href="javascript:void(0);">
                <i data-feather="bell"></i>
                <span class="indicator"></span>
            </a>

            <div class="nav-drop">
                <div class="inner">
                    <div class="nav-drop-header">
                        <span>Notifications</span>
                        <a href="#">
                            <i data-feather="bell"></i>
                        </a>
                    </div>
                    <div class="nav-drop-body is-notifications">
                        <!-- Notification -->
                        <div class="media">
                            <figure class="media-left">
                                <p class="image">
                                    <img src="https://via.placeholder.com/300x300"
                                        data-demo-src="../../../../../assets/img/avatars/david.jpg" alt="">
                                </p>
                            </figure>
                            <div class="media-content">
                                <span><a href="#">David Kim</a> commented on <a href="#">your post</a>.</span>
                                <span class="time">30 minutes ago</span>
                            </div>
                            <div class="media-right">
                                <div class="added-icon">
                                    <i data-feather="message-square"></i>
                                </div>
                            </div>
                        </div>
                        <!-- Notification -->
                        <div class="media">
                            <figure class="media-left">
                                <p class="image">
                                    <img src="https://via.placeholder.com/300x300"
                                        data-demo-src="../../../../../assets/img/avatars/daniel.jpg" alt="">
                                </p>
                            </figure>
                            <div class="media-content">
                                <span><a href="#">Daniel Wellington</a> liked your <a href="#">profile.</a></span>
                                <span class="time">43 minutes ago</span>
                            </div>
                            <div class="media-right">
                                <div class="added-icon">
                                    <i data-feather="heart"></i>
                                </div>
                            </div>
                        </div>
                        <!-- Notification -->
                        <div class="media">
                            <figure class="media-left">
                                <p class="image">
                                    <img src="https://via.placeholder.com/300x300"
                                        data-demo-src="../../../../../assets/img/avatars/stella.jpg" alt="">
                                </p>
                            </figure>
                            <div class="media-content">
                                <span><a href="#">Stella Bergmann</a> shared a <a href="#">New video</a> on your
                                    wall.</span>
                                <span class="time">Yesterday</span>
                            </div>
                            <div class="media-right">
                                <div class="added-icon">
                                    <i data-feather="youtube"></i>
                                </div>
                            </div>
                        </div>
                        <!-- Notification -->
                        <div class="media">
                            <figure class="media-left">
                                <p class="image">
                                    <img src="https://via.placeholder.com/300x300"
                                        data-demo-src="../../../../../assets/img/avatars/elise.jpg" alt="">
                                </p>
                            </figure>
                            <div class="media-content">
                                <span><a href="#">Elise Walker</a> shared an <a href="#">Image</a> with you an 2 other
                                    people.</span>
                                <span class="time">2 days ago</span>
                            </div>
                            <div class="media-right">
                                <div class="added-icon">
                                    <i data-feather="image"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nav-drop-footer">
                        <a href="#">View All</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar-item is-icon drop-trigger">
            <a class="icon-link is-active" href="javascript:void(0);">
                <i data-feather="mail"></i>
                <span class="indicator"></span>
            </a>

            <div class="nav-drop">
                <div class="inner">
                    <div class="nav-drop-header">
                        <span>Messages</span>
                        <a href="messages-inbox.html">Inbox</a>
                    </div>
                    <div class="nav-drop-body is-friend-requests">
                        <!-- Message -->
                        <div class="media">
                            <figure class="media-left">
                                <p class="image">
                                    <img src="https://via.placeholder.com/150x150"
                                        data-demo-src="../../../../../assets/img/avatars/nelly.png"
                                        data-user-popover="9" alt="">
                                </p>
                            </figure>
                            <div class="media-content">
                                <a href="#">Nelly Schwartz</a>
                                <span>I think we should meet near the Starbucks so we can get...</span>
                                <span class="time">Yesterday</span>
                            </div>
                            <div class="media-right is-centered">
                                <div class="added-icon">
                                    <i data-feather="message-square"></i>
                                </div>
                            </div>
                        </div>
                        <!-- Message -->
                        <div class="media">
                            <figure class="media-left">
                                <p class="image">
                                    <img src="https://via.placeholder.com/150x150"
                                        data-demo-src="../../../../../assets/img/avatars/edward.jpeg"
                                        data-user-popover="5" alt="">
                                </p>
                            </figure>
                            <div class="media-content">
                                <a href="#">Edward Mayers</a>
                                <span>That was a real pleasure seeing you last time we really should...</span>
                                <span class="time">last week</span>
                            </div>
                            <div class="media-right is-centered">
                                <div class="added-icon">
                                    <i data-feather="message-square"></i>
                                </div>
                            </div>
                        </div>
                        <!-- Message -->
                        <div class="media">
                            <figure class="media-left">
                                <p class="image">
                                    <img src="https://via.placeholder.com/150x150"
                                        data-demo-src="../../../../../assets/img/avatars/dan.jpg" data-user-popover="1"
                                        alt="">
                                </p>
                            </figure>
                            <div class="media-content">
                                <a href="#">Dan Walker</a>
                                <span>Hey there, would it be possible to borrow your bicycle, i really need...</span>
                                <span class="time">Jun 03 2018</span>
                            </div>
                            <div class="media-right is-centered">
                                <div class="added-icon">
                                    <i data-feather="message-square"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nav-drop-footer">
                        <a href="#">Clear All</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar-item is-icon open-chat">
            <a class="icon-link is-primary" href="javascript:void(0);">
                <i data-feather="message-square"></i>
                <span class="indicator"></span>
            </a>
        </div>

        <div id="mobile-explorer-trigger" class="navbar-item is-icon">
            <a class="icon-link is-primary">
                <i class="mdi mdi-apps"></i>
            </a>
        </div>

        <!-- Mobile menu toggler icon -->
        <div class="navbar-burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- Navbar mobile menu -->
    <div class="navbar-menu">
        <!-- Account -->
        <div class="navbar-item has-dropdown is-active">
            <div class="navbar-link">
                <img src="https://via.placeholder.com/150x150"
                    data-demo-src="../../../../../assets/img/avatars/jenna.png" alt="">
                <span class="is-heading">Jenna</span>
            </div>

            <!-- Mobile Dropdown -->
            <div class="navbar-dropdown">
                <a href="#" class="navbar-item is-flex is-mobile-icon">
                    <span><i data-feather="user"></i>Profile</span>
                </a>
                <a href="#" class="navbar-item is-flex is-mobile-icon">
                    <span><i data-feather="shopping-cart"></i>Cart</span>
                    <span class="menu-badge">3</span>
                </a>
                <a href="#" class="navbar-item is-flex is-mobile-icon">
                    <span><i data-feather="activity"></i>Feed</span>
                    <span class="menu-badge">87</span>
                </a>
                <a href="#" class="navbar-item is-flex is-mobile-icon">
                    <span><i data-feather="settings"></i>Settings</span>
                </a>
                <a href="#" class="navbar-item is-flex is-mobile-icon">
                    <span><i data-feather="hexagon"></i>Logout</span>
                </a>
            </div>
        </div>

        <!-- More -->
        <div class="navbar-item has-dropdown">
            <a class="navbar-link">
                <i data-feather="life-buoy"></i>
                <span class="is-heading">Assistance</span>
            </a>

            <!-- Mobile Dropdown -->
            <div class="navbar-dropdown">
                <a href="#" class="navbar-item">Help</a>
                <a href="#" class="navbar-item">Support</a>
            </div>
        </div>
    </div>
</nav>