<!-- Weather widget -->
<!-- /partials/widgets/weather-widget.html -->
<div class="card is-weather-card has-background-image" data-background="assets/img/illustrations/cards/weather-bg.svg">
  <div class="card-heading">
    <div class="dropdown is-spaced is-accent is-right dropdown-trigger is-light">
      <div>
        <div class="button">
          <mat-icon>more_vert</mat-icon>
        </div>
      </div>
      <div class="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <a href="#" class="dropdown-item">
            <div class="media">
              <mat-icon>location_on</mat-icon>
              <div class="media-content">
                <h3>Change City</h3>
                <small>Change the displayed city.</small>
              </div>
            </div>
          </a>
          <a href="#" class="dropdown-item">
            <div class="media">
              <mat-icon>autorenew</mat-icon>
              <div class="media-content">
                <h3>Synchronize</h3>
                <small>Synchronize with a weather source.</small>
              </div>
            </div>
          </a>
          <a class="dropdown-item">
            <div class="media">
              <mat-icon>settings</mat-icon>
              <div class="media-content">
                <h3>Settings</h3>
                <small>Access widget settings.</small>
              </div>
            </div>
          </a>
          <hr class="dropdown-divider">
          <a href="#" class="dropdown-item">
            <div class="media">
              <mat-icon>delete_outline</mat-icon>
              <div class="media-content">
                <h3>Remove</h3>
                <small>Removes this widget from your feed.</small>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="temperature">
      <span>{{currentWeather.main.temp-273.15 | number:'1.0-0'}}</span>
    </div>
    <div class="weather-icon">
      <div>
        <!-- <img src="https://openweathermap.org/img/wn/{{currentWeather?.weather[0]?.icon}}@2x.png" /> -->
        <!-- <h4 *ngIf="currentWeather.weather">{{currentWeather?.weather[0]?.main}}</h4> -->
        <div class="details">
          <span>Real Feel {{currentWeather.main?.feels_like-273.15 | number:'1.0-0'}}° </span>
          <span>Humidity {{currentWeather.main?.humidity}}%</span>
          <span>Wind Speed {{currentWeather.wind?.speed}}</span>
        </div>
      </div>
    </div>
    <div class="previsions">
      <div class="day">
        <span>Mon</span>
        <mat-icon>wb_sunny</mat-icon>
        <span>69°</span>
      </div>
      <div class="day">
        <span>Tue</span>
        <mat-icon>cloud</mat-icon>
        <span>74°</span>
      </div>
      <div class="day">
        <span>Wed</span>
        <mat-icon>cloud</mat-icon>
        <span>73°</span>
      </div>
      <div class="day">
        <span>Thu</span>
        <mat-icon>wb_sunny</mat-icon>
        <span>68°</span>
      </div>
      <div class="day">
        <span>Fri</span>
        <i data-feather="cloud-drizzle"></i>
        <span>55°</span>
      </div>
      <div class="day">
        <span>Sat</span>
        <mat-icon>umbrella</mat-icon>
        <span>58°</span>
      </div>
      <div class="day">
        <span>Sun</span>
        <mat-icon>wb_sunny</mat-icon>
        <span>64°</span>
      </div>
    </div>
    <div class="current-date-location has-text-centered">
      <span class="date">{{currentDate | date : 'EEE'}}, {{currentDate | date: 'shortDate' }}</span>
      <span class="location">
        <mat-icon>location_on</mat-icon>
        {{geoLookupModel.currentCityName}}, {{geoLookupModel.currentCountryName}}
      </span>
    </div>
  </div>
</div>