<!-- Weather widget -->
<!-- /partials/widgets/weather-widget.html -->
<div class="card is-weather-card has-background-image" data-background="assets/img/illustrations/cards/weather-bg.svg">
  <div class="card-heading">
    <div class="dropdown is-spaced is-accent is-right dropdown-trigger is-light">
      <div>
        <div class="button">
          <mat-icon>more_vert</mat-icon>
        </div>
      </div>
      <div class="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <a href="#" class="dropdown-item">
            <div class="media">
              <mat-icon>location_on</mat-icon>
              <div class="media-content">
                <h3>Change City</h3>
                <small>Change the displayed city.</small>
              </div>
            </div>
          </a>
          <a href="#" class="dropdown-item">
            <div class="media">
              <mat-icon>autorenew</mat-icon>
              <div class="media-content">
                <h3>Synchronize</h3>
                <small>Synchronize with a weather source.</small>
              </div>
            </div>
          </a>
          <a class="dropdown-item">
            <div class="media">
              <mat-icon>settings</mat-icon>
              <div class="media-content">
                <h3>Settings</h3>
                <small>Access widget settings.</small>
              </div>
            </div>
          </a>
          <hr class="dropdown-divider">
          <a href="#" class="dropdown-item">
            <div class="media">
              <mat-icon>delete_outline</mat-icon>
              <div class="media-content">
                <h3>Remove</h3>
                <small>Removes this widget from your feed.</small>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="temperature">
      <span>{{currentWeather.temperature}}°</span>
    </div>
    <div class="weather-icon">
      <div>
        <img src="{{currentWeather.weatherIcon}}" />
        <h4>{{currentWeather.weatherMain}}</h4>
        <div class="details">
          <span>Real Feel {{currentWeather.feelsLike}}° </span>
          <span>Humidity {{currentWeather.humidity}}%</span>
          <span>Wind Speed {{currentWeather.windSpeed}}</span>
        </div>
      </div>
    </div>
    <div class="current-date-location has-text-centered">
      <span class="date"></span>
      <span class="location">
        <mat-icon>location_on</mat-icon>
        {{currentWeather.currentCityName}}, {{currentWeather.currentCountryName}}
      </span>
    </div>
  </div>
</div>