<div class="view-wrapper" *ngIf="singleQuestion$ | async as question">

  <div class="questions-wrap is-smaller">
    <div class="container">
      <div class="columns is-show">
        <div class="column is-3">
          <app-question-menu-fixed></app-question-menu-fixed>
        </div>

        <div class="column is-6">
          <div class="question-content">
            <div class="column">
              <div class="question-content">

                <div class="top-single-header has-text-right">
                  <a routerLink="/question" class="button is-solid grey-button is-rounded">Back To Questions</a>
                </div>

                <article *ngIf="errorMessage$ | async as errorMessage" class="message is-danger">
                  <div class="message-header">
                    <p>Warning!</p>
                    <button class="delete" onclick="this.parentElement.parentElement.style.display='none';"
                      aria-label="delete"></button>
                  </div>
                  <div class="message-body">
                    {{ errorMessage }}
                  </div>
                </article>

                <!-- Main question -->
                <div class="question-block">
                  <!-- Title -->
                  <h2 class="question-title">{{question.title}}</h2>
                  <!-- Author -->
                  <div class="question-author">
                    <img src="{{question.createdByUserPhoto}}" data-demo-src="{{question.createdByUserPhoto}}"
                      alt="{{question.createdByUserName}}">
                    <div class="meta">
                      <span>{{question.createdByUserName}}</span>
                      <span>{{question.createdDate | date:'short' }}</span>
                    </div>
                  </div>
                  <!-- Content -->
                  <div class="question-text">
                    <div [innerHTML]="question.description | noSanitize"></div>
                  </div>
                  <!-- Footer -->
                  <div class="question-footer">
                    <div class="likes">
                      <div class="like-icon">
                        <mat-icon>favorite_border</mat-icon>
                      </div>
                      <span>8 Likes</span>
                    </div>
                    <div class="report">
                      <div class="report-icon">
                        <mat-icon>error_outline</mat-icon>
                      </div>
                      <span>Report Topic</span>
                    </div>
                  </div>
                  <div class="answers-count">
                    <span>{{question.comments == null ? 0 : question.comments.length}} Comments</span>
                  </div>
                </div>

                <app-question-detail-create-comment 
                [currentQuestionId]="currentQuestionId">
                </app-question-detail-create-comment>

                <app-question-detail-comments 
                [commentList]="question.comments">
                </app-question-detail-comments>

                <!-- Load more answers -->
                <div class=" load-more-wrap has-text-centered">
                  <a href="#" class="load-more-button">Load More</a>
                </div>
              </div>

              <!-- Other random questions -->
              <div class="other-questions">
                <!-- Title -->
                <h2 class="other-title">Other people asked</h2>
                <!-- Other question -->
                <div class="other-question">
                  <div class="avatar-wrap">
                    <img class="avatar" src="https://via.placeholder.com/150x150"
                      data-demo-src="assets/img/avatars/david.jpg" data-user-popover="4" alt="">
                    <div class="badge">
                      <i data-feather="check"></i>
                    </div>
                  </div>
                  <div class="meta">
                    <a>I'd like to learn a js framework, any ideas?</a>
                    <span>David Kim | 1 day ago</span>
                  </div>
                </div>
                <!-- Other question -->
                <div class="other-question">
                  <div class="avatar-wrap">
                    <img class="avatar" src="https://via.placeholder.com/150x150"
                      data-demo-src="assets/img/avatars/elise.jpg" data-user-popover="6" alt="">
                    <div class="badge">
                      <i data-feather="check"></i>
                    </div>
                  </div>
                  <div class="meta">
                    <a>Trouble running with Kubernetes + Docker</a>
                    <span>Elise Walker | 3 days ago</span>
                  </div>
                </div>
                <!-- Other question -->
                <div class="other-question">
                  <div class="avatar-wrap">
                    <img class="avatar" src="https://via.placeholder.com/150x150"
                      data-demo-src="assets/img/avatars/lana.jpeg" data-user-popover="10" alt="">
                    <div class="badge">
                      <i data-feather="check"></i>
                    </div>
                  </div>
                  <div class="meta">
                    <a>Is it worth buying the new Surface tablet?</a>
                    <span>Lana Henrikssen | 7 days ago</span>
                  </div>
                </div>
                <!-- Other question -->
                <div class="other-question">
                  <div class="avatar-wrap">
                    <img class="avatar" src="https://via.placeholder.com/150x150"
                      data-demo-src="assets/img/avatars/edward.jpeg" data-user-popover="5" alt="">
                    <div class="badge">
                      <i data-feather="check"></i>
                    </div>
                  </div>
                  <div class="meta">
                    <a>How much should I charge for freelance design?</a>
                    <span>Edward Mayers | a month ago</span>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>