<div class="comments-wrap is-active">

  <div class="comments-heading">
    <h4>Comments
      <small>({{singlePost.comments == null ? 0 : singlePost.comments.length}})</small>
    </h4>
    <div class="close-comments is-active">
      <mat-icon>close</mat-icon>
    </div>
  </div>

  <div class="comments-body has-slimscroll">
    <app-comment-list [commentList]="singlePost.comments"></app-comment-list>
  </div>

  <div class="card-footer">
    <div class="media post-comment has-emojis" *ngIf="signedUser">
      <div class="media-content">
        <app-create-comment [singlePost]="singlePost" [signedUser]="signedUser"></app-create-comment>
      </div>
    </div>
  </div>
</div>