<!-- Other answer -->
<div class="answer-block" *ngFor="let comment of commentList">
  <!-- Author -->
  <div class="answer-author">
    <div class="avatar-wrap">
      <img class="avatar" src="https://via.placeholder.com/150x150" data-demo-src="assets/img/avatars/david.jpg"
        data-user-popover="4" alt="">
      <div class="badge">
        <i data-feather="check"></i>
      </div>
    </div>
    <div class="meta">
      <span>David Kim</span>
      <span>1 day ago</span>
    </div>
  </div>
  <!-- Content -->
  <div class="answer-text">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. At eum nihili facit; Quacumque
      enim ingredimur, in
      aliqua historia vestigium ponimus. Duo Reges: constructio interrete. Proclivi currit
      oratio.</p>
    <p>First install this:</p>
    <p class="code">
    </p>
    <p>Check this link:</p>
    <p><a class="standard-link"></a></p>
  </div>
  <!-- Footer -->
  <div class="answer-footer">
    <div class="upvote">
      <div class="upvote-icon">
        <i data-feather="check"></i>
      </div>
      <span>Upvoted 5 times</span>
    </div>
    <div class="report">
      <div class="report-icon">
        <i data-feather="alert-octagon"></i>
      </div>
      <span>Report Answer</span>
    </div>
  </div>
</div>

