<!-- Other answer -->
<div class="answer-block" *ngFor="let comment of commentList | orderBy : -'createdDate'">
  <!-- Author -->
  <div class="answer-author">
    <div class="avatar-wrap">
      <img class="avatar" src="{{comment.createdByUserPhoto}}" title="{{comment.createdByUserName}}">
      <div class="badge">
        <mat-icon>check</mat-icon>
      </div>
    </div>
    <div class="meta">
      <span>{{comment.createdByUserName}}</span>
      <span>{{comment.createdDate | date:'short' }}</span>
    </div>
  </div>
  <!-- Content -->
  <div class="answer-text">
    <div [innerHTML]="comment.text | noSanitize"></div>
  </div>
  <!-- Footer -->
  <div class="answer-footer">
    <div class="upvote">
      <div class="upvote-icon">
        <mat-icon>check</mat-icon>
      </div>
      <span>Upvoted 5 times</span>
    </div>
    <div class="report">
      <div class="report-icon">
        <mat-icon>error_outline</mat-icon>
      </div>
      <span>Report Answer</span>
    </div>
  </div>
</div>