<div class="view-wrapper">

  <!-- /html/partials/pages/questions/questions-nav-single.html -->
  <div class="questions-nav">
    <div class="inner">
      <div class="container">
        <div class="question-summary">
          <img src="https://via.placeholder.com/150x150" data-demo-src="assets/img/avatars/dan.jpg"
            data-user-popover="1" alt="">
          <div class="meta">
            <h4>How can I handle photos with javascript?</h4>
            <span>Dan Walker | 2 day ago</span>
          </div>
          <div class="dropdown is-spaced is-accent is-right dropdown-trigger">
            <div>
              <div class="button">
                <i data-feather="more-vertical"></i>
              </div>
            </div>
            <div class="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <a href="#" class="dropdown-item">
                  <div class="media">
                    <i data-feather="message-circle"></i>
                    <div class="media-content">
                      <h3>My Questions</h3>
                      <small>All questions you posted.</small>
                    </div>
                  </div>
                </a>
                <a class="dropdown-item">
                  <div class="media">
                    <i data-feather="hexagon"></i>
                    <div class="media-content">
                      <h3>My Groups</h3>
                      <small>View the groups you are part of.</small>
                    </div>
                  </div>
                </a>
                <a class="dropdown-item">
                  <div class="media">
                    <i data-feather="delete"></i>
                    <div class="media-content">
                      <h3>Unsolved</h3>
                      <small>View unsolved questions.</small>
                    </div>
                  </div>
                </a>
                <a class="dropdown-item">
                  <div class="media">
                    <i data-feather="disc"></i>
                    <div class="media-content">
                      <h3>Solved</h3>
                      <small>View solved questions.</small>
                    </div>
                  </div>
                </a>
                <hr class="dropdown-divider">
                <a href="#" class="dropdown-item">
                  <div class="media">
                    <i data-feather="message-square"></i>
                    <div class="media-content">
                      <h3>Ask</h3>
                      <small>Post a new question.</small>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Question wrap -->
  <div class="questions-wrap is-smaller">
    <!-- Container -->
    <div class="container">

      <div class="columns is-show">
        <div class="column is-3">
          <app-question-menu-fixed></app-question-menu-fixed>
        </div>

        <div class="column is-6">

          <div class="question-content">

            <div class="column">
              <!-- Question content -->
              <div class="question-content">
                <!--Top Bar-->
                <div class="top-single-header has-text-right">
                  <a class="button is-solid grey-button is-rounded">Back To Questions</a>
                </div>
                <!-- Main question -->
                <div class="question-block">
                  <!-- Title -->
                  <h2 class="question-title">How can I handle photos with javascript?</h2>
                  <!-- Author -->
                  <div class="question-author">
                    <img src="https://via.placeholder.com/150x150" data-demo-src="assets/img/avatars/dan.jpg"
                      data-user-popover="1" alt="">
                    <div class="meta">
                      <span>Dan Walker</span>
                      <span>2 days ago</span>
                    </div>
                  </div>
                  <!-- Content -->
                  <div class="question-text">
                    <p></p>
                  </div>
                  <!-- Footer -->
                  <div class="question-footer">
                    <div class="likes">
                      <div class="like-icon">
                        <i data-feather="heart"></i>
                      </div>
                      <span>8 Likes</span>
                    </div>
                    <div class="report">
                      <div class="report-icon">
                        <i data-feather="alert-octagon"></i>
                      </div>
                      <span>Report Topic</span>
                    </div>
                  </div>
                  <div class="answers-count">
                    <span>5 Answers</span>
                  </div>
                </div>
                <!-- Main answer -->
                <div class="answer-block is-best">
                  <!-- Author -->
                  <div class="answer-author">
                    <div class="avatar-wrap">
                      <img class="avatar" src="https://via.placeholder.com/150x150"
                        data-demo-src="assets/img/avatars/elise.jpg" data-user-popover="6" alt="">
                      <div class="badge">
                        <i data-feather="check"></i>
                      </div>
                    </div>
                    <div class="meta">
                      <span>Elise Walker <small class="best-tag">Best Answer</small></span>
                      <span>1 day ago</span>
                    </div>
                  </div>
                  <!-- Content -->
                  <div class="answer-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. At eum nihili facit; Quacumque
                      enim ingredimur, in
                      aliqua historia vestigium ponimus. Duo Reges: constructio interrete. Proclivi currit
                      oratio.</p>
                    <p>First install this</p>
                    <p class="code">

                    </p>
                    <p>Then configure your photos:</p>
                    <p class="code">

                      <br>

                    <p>You can
                      also check the documentation:</p>
                    <p><a class="standard-link"></a></p>
                  </div>
                  <!-- Footer -->
                  <div class="answer-footer">
                    <div class="upvote">
                      <div class="upvote-icon">
                        <i data-feather="check"></i>
                      </div>
                      <span>Upvoted 56 times</span>
                    </div>
                    <div class="report">
                      <div class="report-icon">
                        <i data-feather="alert-octagon"></i>
                      </div>
                      <span>Report Answer</span>
                    </div>
                  </div>
                </div>
                <!-- Other answer -->
                <div class="answer-block">
                  <!-- Author -->
                  <div class="answer-author">
                    <div class="avatar-wrap">
                      <img class="avatar" src="https://via.placeholder.com/150x150"
                        data-demo-src="assets/img/avatars/david.jpg" data-user-popover="4" alt="">
                      <div class="badge">
                        <i data-feather="check"></i>
                      </div>
                    </div>
                    <div class="meta">
                      <span>David Kim</span>
                      <span>1 day ago</span>
                    </div>
                  </div>
                  <!-- Content -->
                  <div class="answer-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. At eum nihili facit; Quacumque
                      enim ingredimur, in
                      aliqua historia vestigium ponimus. Duo Reges: constructio interrete. Proclivi currit
                      oratio.</p>
                    <p>First install this:</p>
                    <p class="code">
                    </p>
                    <p>Check this link:</p>
                    <p><a class="standard-link"></a></p>
                  </div>
                  <!-- Footer -->
                  <div class="answer-footer">
                    <div class="upvote">
                      <div class="upvote-icon">
                        <i data-feather="check"></i>
                      </div>
                      <span>Upvoted 5 times</span>
                    </div>
                    <div class="report">
                      <div class="report-icon">
                        <i data-feather="alert-octagon"></i>
                      </div>
                      <span>Report Answer</span>
                    </div>
                  </div>
                </div>
                <!-- Other answer -->
                <div class="answer-block">
                  <!-- Author -->
                  <div class="answer-author">
                    <div class="avatar-wrap">
                      <img class="avatar" src="https://via.placeholder.com/150x150"
                        data-demo-src="assets/img/avatars/elise.jpg" data-user-popover="6" alt="">
                      <div class="badge">
                        <i data-feather="check"></i>
                      </div>
                    </div>
                    <div class="meta">
                      <span>Elise Walker</span>
                      <span>1 day ago</span>
                    </div>
                  </div>
                  <!-- Content -->
                  <div class="answer-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. At eum nihili facit Quacumque
                      enim ingredimur, in
                      aliqua historia vestigium ponimus. Duo Reges: constructio interrete. Proclivi currit
                      oratio.</p>
                    <p>It would ne nice to be more specific about it.</p>
                    <p>Any suggestions?</p>
                  </div>
                  <!-- Footer -->
                  <div class="answer-footer">
                    <div class="upvote">
                      <div class="upvote-icon">
                        <i data-feather="check"></i>
                      </div>
                      <span>Upvoted once</span>
                    </div>
                    <div class="report">
                      <div class="report-icon">
                        <i data-feather="alert-octagon"></i>
                      </div>
                      <span>Report Answer</span>
                    </div>
                  </div>
                </div>
                <!-- Load more answers -->
                <div class=" load-more-wrap has-text-centered">
                  <a href="#" class="load-more-button">Load More</a>
                </div>
              </div>

              <!-- Other random questions -->
              <div class="other-questions">
                <!-- Title -->
                <h2 class="other-title">Other people asked</h2>
                <!-- Other question -->
                <div class="other-question">
                  <div class="avatar-wrap">
                    <img class="avatar" src="https://via.placeholder.com/150x150"
                      data-demo-src="assets/img/avatars/david.jpg" data-user-popover="4" alt="">
                    <div class="badge">
                      <i data-feather="check"></i>
                    </div>
                  </div>
                  <div class="meta">
                    <a>I'd like to learn a js framework, any ideas?</a>
                    <span>David Kim | 1 day ago</span>
                  </div>
                </div>
                <!-- Other question -->
                <div class="other-question">
                  <div class="avatar-wrap">
                    <img class="avatar" src="https://via.placeholder.com/150x150"
                      data-demo-src="assets/img/avatars/elise.jpg" data-user-popover="6" alt="">
                    <div class="badge">
                      <i data-feather="check"></i>
                    </div>
                  </div>
                  <div class="meta">
                    <a>Trouble running with Kubernetes + Docker</a>
                    <span>Elise Walker | 3 days ago</span>
                  </div>
                </div>
                <!-- Other question -->
                <div class="other-question">
                  <div class="avatar-wrap">
                    <img class="avatar" src="https://via.placeholder.com/150x150"
                      data-demo-src="assets/img/avatars/lana.jpeg" data-user-popover="10" alt="">
                    <div class="badge">
                      <i data-feather="check"></i>
                    </div>
                  </div>
                  <div class="meta">
                    <a>Is it worth buying the new Surface tablet?</a>
                    <span>Lana Henrikssen | 7 days ago</span>
                  </div>
                </div>
                <!-- Other question -->
                <div class="other-question">
                  <div class="avatar-wrap">
                    <img class="avatar" src="https://via.placeholder.com/150x150"
                      data-demo-src="assets/img/avatars/edward.jpeg" data-user-popover="5" alt="">
                    <div class="badge">
                      <i data-feather="check"></i>
                    </div>
                  </div>
                  <div class="meta">
                    <a>How much should I charge for freelance design?</a>
                    <span>Edward Mayers | a month ago</span>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>