<div class="video-collection">

  <!-- Episode -->
  <a class="episode">
    <div class="episode-thumbnail">
      <div class="episode-overlay"></div>
      <div class="episode-duration">01:39:43</div>
      <div class="play-button">
        <i data-feather="play-circle"></i>
      </div>
      <img src="https://via.placeholder.com/320x200" data-demo-src="assets/img/demo/video/home/collections/c17.jpg"
        alt="">
    </div>
    <div class="episode-meta">
      <img src="https://via.placeholder.com/150x150" data-demo-src="assets/img/icons/logos/metamovies.svg"
        data-page-popover="2" alt="">
      <div class="info">
        <span>The Old Caban</span>
        <span>Meta Movies</span>
      </div>
    </div>
  </a>
  <!-- Episode -->
  <a class="episode">
    <div class="episode-thumbnail">
      <div class="episode-overlay"></div>
      <div class="episode-duration">01:26:17</div>
      <div class="play-button">
        <i data-feather="play-circle"></i>
      </div>
      <img src="https://via.placeholder.com/320x200" data-demo-src="assets/img/demo/video/home/collections/c18.jpg"
        alt="">
    </div>
    <div class="episode-meta">
      <img src="https://via.placeholder.com/150x150" data-demo-src="assets/img/icons/logos/metamovies.svg"
        data-page-popover="2" alt="">
      <div class="info">
        <span>Eaten Alive</span>
        <span>Meta Movies</span>
      </div>
    </div>
  </a>
  <!-- Episode -->
  <a class="episode">
    <div class="episode-thumbnail">
      <div class="episode-overlay"></div>
      <div class="episode-duration">02:31:54</div>
      <div class="play-button">
        <i data-feather="play-circle"></i>
      </div>
      <img src="https://via.placeholder.com/320x200" data-demo-src="assets/img/demo/video/home/collections/c19.jpg"
        alt="">
    </div>
    <div class="episode-meta">
      <img src="https://via.placeholder.com/150x150" data-demo-src="assets/img/icons/logos/metamovies.svg"
        data-page-popover="2" alt="">
      <div class="info">
        <span>Forgotten</span>
        <span>Meta Movies</span>
      </div>
    </div>
  </a>
  <!-- Episode -->
  <a class="episode">
    <div class="episode-thumbnail">
      <div class="episode-overlay"></div>
      <div class="episode-duration">02:03:17</div>
      <div class="play-button">
        <i data-feather="play-circle"></i>
      </div>
      <img src="https://via.placeholder.com/320x200" data-demo-src="assets/img/demo/video/home/collections/c20.jpg"
        alt="">
    </div>
    <div class="episode-meta">
      <img src="https://via.placeholder.com/150x150" data-demo-src="assets/img/icons/logos/metamovies.svg"
        data-page-popover="2" alt="">
      <div class="info">
        <span>The Wastelands</span>
        <span>Meta Movies</span>
      </div>
    </div>
  </a>




    <!-- Episode -->
    <a class="episode">
      <div class="episode-thumbnail">
        <div class="episode-overlay"></div>
        <div class="episode-duration">01:39:43</div>
        <div class="play-button">
          <i data-feather="play-circle"></i>
        </div>
        <img src="https://via.placeholder.com/320x200" data-demo-src="assets/img/demo/video/home/collections/c17.jpg"
          alt="">
      </div>
      <div class="episode-meta">
        <img src="https://via.placeholder.com/150x150" data-demo-src="assets/img/icons/logos/metamovies.svg"
          data-page-popover="2" alt="">
        <div class="info">
          <span>The Old Caban</span>
          <span>Meta Movies</span>
        </div>
      </div>
    </a>
    <!-- Episode -->
    <a class="episode">
      <div class="episode-thumbnail">
        <div class="episode-overlay"></div>
        <div class="episode-duration">01:26:17</div>
        <div class="play-button">
          <i data-feather="play-circle"></i>
        </div>
        <img src="https://via.placeholder.com/320x200" data-demo-src="assets/img/demo/video/home/collections/c18.jpg"
          alt="">
      </div>
      <div class="episode-meta">
        <img src="https://via.placeholder.com/150x150" data-demo-src="assets/img/icons/logos/metamovies.svg"
          data-page-popover="2" alt="">
        <div class="info">
          <span>Eaten Alive</span>
          <span>Meta Movies</span>
        </div>
      </div>
    </a>
    <!-- Episode -->
    <a class="episode">
      <div class="episode-thumbnail">
        <div class="episode-overlay"></div>
        <div class="episode-duration">02:31:54</div>
        <div class="play-button">
          <i data-feather="play-circle"></i>
        </div>
        <img src="https://via.placeholder.com/320x200" data-demo-src="assets/img/demo/video/home/collections/c19.jpg"
          alt="">
      </div>
      <div class="episode-meta">
        <img src="https://via.placeholder.com/150x150" data-demo-src="assets/img/icons/logos/metamovies.svg"
          data-page-popover="2" alt="">
        <div class="info">
          <span>Forgotten</span>
          <span>Meta Movies</span>
        </div>
      </div>
    </a>
    <!-- Episode -->
    <a class="episode">
      <div class="episode-thumbnail">
        <div class="episode-overlay"></div>
        <div class="episode-duration">02:03:17</div>
        <div class="play-button">
          <i data-feather="play-circle"></i>
        </div>
        <img src="https://via.placeholder.com/320x200" data-demo-src="assets/img/demo/video/home/collections/c20.jpg"
          alt="">
      </div>
      <div class="episode-meta">
        <img src="https://via.placeholder.com/150x150" data-demo-src="assets/img/icons/logos/metamovies.svg"
          data-page-popover="2" alt="">
        <div class="info">
          <span>The Wastelands</span>
          <span>Meta Movies</span>
        </div>
      </div>
    </a>


</div>