<div class="stories-feed">
    <div class="columns is-multiline">

        <div class="column is-4 is-half-tablet" *ngFor="let story of stories | orderBy : '-createdDate'">

            <!--Feed item-->
            <div class="story-feed-item">
                <a href="{{story.imageUrl}}" data-demo-href="{{story.imageUrl}}" data-fancybox data-caption="">
                    <img class="featured-image" src="{{story.imageUrl}}" data-demo-src="{{story.imageUrl}}" alt="">
                </a>
                <a class="item-meta">
                    <div class="user-info">
                        <div class="small-avatar">
                            <img class="avatar" src="{{story.createdByUserPhoto}}"
                                data-demo-src="{{story.createdByUserPhoto}}" data-user-popover="10" alt=""
                                title="{{story.createdByUserName}}">
                        </div>
                        <span>{{story.createdByUserName}}</span>
                    </div>
                    <div class="item-stats">
                        <div class="stat-item">
                            <mat-icon>favorite_border</mat-icon>
                            <span>99</span>
                        </div>
                        <div class="stat-item">
                            <mat-icon>chat_bubble_outline</mat-icon>
                            <span>23</span>
                        </div>
                    </div>
                </a>
            </div>

        </div>

    </div>
</div>