<div class="view-wrapper">

  <!-- Container -->
  <div id="main-feed" class="container">

    <!-- <app-timeline-shadow></app-timeline-shadow> -->

    <!-- Feed page main wrapper -->
    <div id="activity-feed" class="view-wrap true-dom">

      <div class="columns">
        <!-- Left side column -->
        <div class="column is-3 is-hidden-mobile">

          <app-timeline-weather></app-timeline-weather>

          <app-timeline-activity></app-timeline-activity>
        </div>
        <!-- /Left side column -->

        <!-- Middle column -->
        <div class="column is-6">

          <article *ngIf="errorMessage$ | async as errorMessage" class="message is-danger">
            <div class="message-header">
              <p>Warning!</p>
              <button class="delete" onclick="this.parentElement.parentElement.style.display='none';"
                aria-label="delete"></button>
            </div>
            <div class="message-body">
              {{ errorMessage }}
            </div>
          </article>

          <article *ngIf="storyErrorMessage$ | async as storyErrorMessage" class="message is-danger">
            <div class="message-header">
              <p>Warning!</p>
              <button class="delete" onclick="this.parentElement.parentElement.style.display='none';"
                aria-label="delete"></button>
            </div>
            <div class="message-body">
              {{ storyErrorMessage }}
            </div>
          </article>

          <app-timeline-create-post [signedUser]="signedUser$ | async">
          </app-timeline-create-post>

          <app-timeline-posts [posts]="posts$ | async" [newPost]="newPost$ | async" [newStory]="newStory$ | async">
          </app-timeline-posts>

        </div>
        <!-- /Middle column -->

        <!-- Right side column -->
        <div class="column is-3">

          <app-timeline-stories [stories]="stories$ | async" [signedUser]="signedUser$ | async"></app-timeline-stories>

          <app-timeline-birthday></app-timeline-birthday>

          <app-timeline-suggest-friends></app-timeline-suggest-friends>

          <app-timeline-newjob></app-timeline-newjob>
        </div>
        <!-- /Right side column -->
      </div>
    </div>
    <!-- /Feed page main wrapper -->
  </div>
  <!-- /Container -->

  <app-create-album-modal>
  </app-create-album-modal>

  <app-create-story-modal [signedUser]="signedUser$ | async">
  </app-create-story-modal>

  <!-- Google places Lib -->
  <script
    src="https://maps.google.com/maps/api/js?key=AIzaSyAGLO_M5VT7BsVdjMjciKoH1fFJWWdhDPU&libraries=places"></script>
</div>