<div class="view-wrapper">

  <!-- Container -->
  <div id="main-feed" class="container">

    <!-- <app-timeline-shadow></app-timeline-shadow> -->

    <!-- Feed page main wrapper -->
    <div id="activity-feed" class="view-wrap true-dom">
      <div class="columns">
        <!-- Left side column -->
        <div class="column is-3 is-hidden-mobile">

          <app-timeline-weather></app-timeline-weather>

          <app-timeline-activity></app-timeline-activity>
        </div>
        <!-- /Left side column -->

        <!-- Middle column -->
        <div class="column is-6">

          <app-timeline-create-post>

          </app-timeline-create-post>

          <app-timeline-posts [posts]="posts$ | async" [newPost]="newPost$ | async">
          </app-timeline-posts>

        </div>
        <!-- /Middle column -->

        <!-- Right side column -->
        <div class="column is-3">

          <app-timeline-stories></app-timeline-stories>

          <app-timeline-birthday></app-timeline-birthday>

          <app-timeline-suggest-friends></app-timeline-suggest-friends>

          <app-timeline-newjob></app-timeline-newjob>
        </div>
        <!-- /Right side column -->
      </div>
    </div>
    <!-- /Feed page main wrapper -->
  </div>
  <!-- /Container -->

  <app-create-album-modal>
  </app-create-album-modal>

  <!-- Google places Lib -->
  <script
    src="https://maps.google.com/maps/api/js?key=AIzaSyAGLO_M5VT7BsVdjMjciKoH1fFJWWdhDPU&libraries=places"></script>
</div>