<div id="shadow-dom" class="view-wrap">
  <div class="columns">

    <div class="column is-3">

      <!-- /html/partials/global/placeload/placeloads/questions-menu-placeload.html -->
      <div class="placeload is-bold questions-menu-placeload">
        <div class="inner-wrap">
          <div class="content-shape loads"></div>
          <div class="content-shape loads"></div>
          <div class="content-shape loads"></div>
          <div class="content-shape loads"></div>
        </div>
      </div>

    </div>

    <div class="column is-6">

      <!-- Placeload element -->
      <div class="placeload compose-placeload">
        <div class="header">
          <div class="content-shape is-lg loads"></div>
          <div class="content-shape is-lg loads"></div>
          <div class="content-shape is-lg loads"></div>
        </div>
        <div class="body">
          <div class="img loads"></div>
          <div class="inner-wrap">
            <div class="content-shape loads"></div>
            <div class="content-shape loads"></div>
          </div>
        </div>
      </div>
      <!-- Placeload element -->
      <div class="placeload post-placeload">
        <div class="header">
          <div class="img loads"></div>
          <div class="header-content">
            <div class="content-shape loads"></div>
            <div class="content-shape loads"></div>
          </div>
        </div>
        <div class="image-placeholder loads"></div>
        <div class="placeholder-footer">
          <div class="footer-block">
            <div class="img loads"></div>
            <div class="inner-wrap">
              <div class="content-shape loads"></div>
              <div class="content-shape loads"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Placeload element -->
      <div class="placeload post-placeload">
        <div class="header">
          <div class="img loads"></div>
          <div class="header-content">
            <div class="content-shape loads"></div>
            <div class="content-shape loads"></div>
          </div>
        </div>
        <div class="image-placeholder loads"></div>
        <div class="placeholder-footer">
          <div class="footer-block">
            <div class="img loads"></div>
            <div class="inner-wrap">
              <div class="content-shape loads"></div>
              <div class="content-shape loads"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Placeload element -->
      <div class="placeload post-placeload">
        <div class="header">
          <div class="img loads"></div>
          <div class="header-content">
            <div class="content-shape loads"></div>
            <div class="content-shape loads"></div>
          </div>
        </div>
        <div class="image-placeholder loads"></div>
        <div class="placeholder-footer">
          <div class="footer-block">
            <div class="img loads"></div>
            <div class="inner-wrap">
              <div class="content-shape loads"></div>
              <div class="content-shape loads"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Placeload element -->
      <div class="placeload post-placeload">
        <div class="header">
          <div class="img loads"></div>
          <div class="header-content">
            <div class="content-shape loads"></div>
            <div class="content-shape loads"></div>
          </div>
        </div>
        <div class="image-placeholder loads"></div>
        <div class="placeholder-footer">
          <div class="footer-block">
            <div class="img loads"></div>
            <div class="inner-wrap">
              <div class="content-shape loads"></div>
              <div class="content-shape loads"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-3">

      <!-- Placeload element -->
      <div class="placeload stories-placeload">
        <div class="header">
          <div class="content-shape loads"></div>
        </div>
        <div class="body">
          <div class="flex-block">
            <div class="img loads"></div>
            <div class="inner-wrap">
              <div class="content-shape loads"></div>
              <div class="content-shape loads"></div>
            </div>
          </div>
          <div class="flex-block">
            <div class="img loads"></div>
            <div class="inner-wrap">
              <div class="content-shape loads"></div>
              <div class="content-shape loads"></div>
            </div>
          </div>
          <div class="flex-block">
            <div class="img loads"></div>
            <div class="inner-wrap">
              <div class="content-shape loads"></div>
              <div class="content-shape loads"></div>
            </div>
          </div>
          <div class="flex-block">
            <div class="img loads"></div>
            <div class="inner-wrap">
              <div class="content-shape loads"></div>
              <div class="content-shape loads"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Placeload element -->
      <div class="placeload mini-widget-placeload">
        <div class="body">
          <div class="inner-wrap">
            <div class="img loads"></div>
            <div class="content-shape loads"></div>
            <div class="content-shape loads"></div>
            <div class="content-shape loads"></div>
            <div class="button-shape loads"></div>
          </div>
        </div>
      </div>
      <!-- Placeload element -->
      <div class="placeload list-placeload">
        <div class="header">
          <div class="content-shape loads"></div>
        </div>
        <div class="body">
          <div class="flex-block">
            <div class="img loads"></div>
            <div class="inner-wrap">
              <div class="content-shape loads"></div>
              <div class="content-shape loads"></div>
            </div>
          </div>
          <div class="flex-block">
            <div class="img loads"></div>
            <div class="inner-wrap">
              <div class="content-shape loads"></div>
              <div class="content-shape loads"></div>
            </div>
          </div>
          <div class="flex-block">
            <div class="img loads"></div>
            <div class="inner-wrap">
              <div class="content-shape loads"></div>
              <div class="content-shape loads"></div>
            </div>
          </div>
          <div class="flex-block">
            <div class="img loads"></div>
            <div class="inner-wrap">
              <div class="content-shape loads"></div>
              <div class="content-shape loads"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>