<div class="questions-nav-menu">
  <a href="questions-home.html" class="menu-item">
    <i data-feather="home"></i>
    <span>Home</span>
  </a>
  <a href="questions-single.html" class="menu-item">
    <i data-feather="message-circle"></i>
    <span>My Questions</span>
  </a>
  <a href="questions-stats.html" class="menu-item">
    <i data-feather="hexagon"></i>
    <span>My Stats</span>
  </a>
  <a href="questions-categories.html" class="menu-item">
    <i data-feather="layers"></i>
    <span>Categories</span>
  </a>
  <a href="questions-settings.html" class="menu-item">
    <i data-feather="settings"></i>
    <span>Settings</span>
  </a>
</div>