<div class="questions-nav-menu">
  <a href="questions-home.html" class="menu-item">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </a>
  <a href="questions-single.html" class="menu-item">
    <mat-icon>question_answer</mat-icon>
    <span>My Questions</span>
  </a>
  <a href="questions-stats.html" class="menu-item">
    <mat-icon>query_stats</mat-icon>
    <span>My Stats</span>
  </a>
  <a href="questions-categories.html" class="menu-item">
    <mat-icon>layers</mat-icon>
    <span>Categories</span>
  </a>
  <a href="questions-settings.html" class="menu-item">
    <mat-icon>settings</mat-icon>
    <span>Settings</span>
  </a>
</div>