<div class="stories-container">
    <div class="container-inner">

        <a class="story modal-trigger" data-modal="new-story-modal">
            <div class="story-avatar">
                <img class="avatar" src="https://via.placeholder.com/150x150"
                    data-demo-src="assets/img/avatars/jenna.png" data-user-popover="0" alt="">

                <div class="add-overlay">
                    <mat-icon>add_circle_outline</mat-icon>
                </div>
            </div>
        </a>

        <a *ngFor="let story of stories | orderBy : '-createdDate'" class="story">
            <div class="story-avatar">
                <img class="avatar" src="{{story.imageUrl}}" data-user-popover="1" alt=""
                    title="{{story.createdByUserName}}">
            </div>
        </a>
    </div>
</div>