<!--preloader-->
<div id="spinner-wrapper" *ngIf="!stories || newStory">
    <div class="spinner"></div>
</div>

<div class="stories-container">
    <div class="container-inner">

        <a *ngIf="signedUser" class="add-story story modal-trigger" (click)="openModal('image-story-modal');">
            <div class="story-avatar">
                <img class="avatar" src="https://via.placeholder.com/150x150"
                    data-demo-src="assets/img/avatars/jenna.png" data-user-popover="0" alt="">

                <div class="add-overlay">
                    <mat-icon>add_circle_outline</mat-icon>
                </div>
            </div>
        </a>

        <a class="story" *ngFor="let story of stories | orderBy : -'createdDate'">
            <div class="story-avatar">
                <a href="{{story.imageUrl}}" autoPlay="true" data-demo-href="{{story.imageUrl}}" data-fancybox="gallery"
                    attr.data-caption="{{story.createdByUserName}} - {{story.description}}">
                    <img class="avatar" src="{{story.imageUrl}}" data-user-popover="1" alt=""
                        title="{{story.createdByUserName}}">
                </a>
            </div>
        </a>
    </div>
</div>