<!--preloader-->
<div id="spinner-wrapper" *ngIf="!questions || newQuestion">
  <div class="spinner"></div>
</div>

<!-- Question -->
<div class="question-block is-top-spaced" *ngFor="let question of questions | orderBy : '-createdDate'">
  <!-- Title -->
  <a href="questions-single.html" class="question-title is-link">{{question.title}}</a>
  <!-- Author -->
  <div class="question-author">
    <img src="{{question.createdByUserPhoto}}" attr.data-demo-src="{{question.createdByUserPhoto}}"
      data-user-popover="19" alt="" title="{{question.createdByUserName}}">
    <div class="meta">
      <span>{{question.createdByUserName}}</span>
      <span>{{question.createdDate | date:'short' }}</span>
    </div>
  </div>
  <!-- Content -->
  <div class="question-text">

    <div [innerHTML]="question.description"></div>

    <div class="tags">
      <span class="tag">stylesheets</span>
      <span class="tag">sass</span>
      <span class="tag">mixins</span>
      <span class="tag">bourbon</span>
    </div>
  </div>
  <!-- Footer -->
  <div class="question-footer">
    <div class="likes">
      <div class="like-icon">
        <mat-icon>favorite_border</mat-icon>
      </div>
      <span>12 Likes</span>
    </div>
    <div class="report">
      <div class="report-icon">
        <mat-icon>error_outline</mat-icon>
      </div>
      <span>Report Topic</span>
    </div>
  </div>
  <div class="answers-count">
    <span>9 Answers</span>
  </div>
</div>