<div class="view-wrapper is-full">
  <div class="stories-wrapper is-home">

    <!-- /html/partials/pages/stories/stories-sidebar.html -->
    <div class="stories-sidebar is-active">
      <app-story-sidebar [signedUser]="signedUser$ | async"></app-story-sidebar>
    </div>

    <!-- Stories -->
    <div class="inner-wrapper">
      <a class="mobile-sidebar-trigger is-home-v2">
        <mat-icon>menu</mat-icon>
      </a>

      <!-- Stories content -->
      <div class="stories-content">

        <article *ngIf="storyErrorMessage$ | async as errorMessage" class="message is-danger">
          <div class="message-header">
            <p>Warning!</p>
            <button class="delete" onclick="this.parentElement.parentElement.style.display='none';"
              aria-label="delete"></button>
          </div>
          <div class="message-body">
            {{ errorMessage }}
          </div>
        </article>

        <div class="section-title main-section-title">
          <h2>Stories</h2>
          <a class="view-all">View All</a>
        </div>

        <app-story-list [stories]="stories$ | async" [newStory]="newStory$ | async"></app-story-list>

        <div class="section-title">
          <h2>Feed</h2>

          <div class="dropdown is-spaced is-right is-accent dropdown-trigger">
            <div>
              <div class="button is-rounded">
                This week
              </div>
            </div>
            <div class="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <a href="#" class="dropdown-item">
                  <div class="media">
                    <mat-icon>view_week</mat-icon>
                    <div class="media-content">
                      <h3>Today</h3>
                      <small>View today's posts.</small>
                    </div>
                  </div>
                </a>
                <a class="dropdown-item">
                  <div class="media">
                    <mat-icon>calendar_view_week</mat-icon>
                    <div class="media-content">
                      <h3>This Week</h3>
                      <small>View this week's posts.</small>
                    </div>
                  </div>
                </a>
                <a class="dropdown-item">
                  <div class="media">
                    <mat-icon>archive</mat-icon>
                    <div class="media-content">
                      <h3>This Month</h3>
                      <small>View this month's posts.</small>
                    </div>
                  </div>
                </a>
                <hr class="dropdown-divider">
                <a href="#" class="dropdown-item">
                  <div class="media">
                    <mat-icon>people</mat-icon>
                    <div class="media-content">
                      <h3>Close Friends</h3>
                      <small>Restrict to close friends.</small>
                    </div>
                  </div>
                </a>
                <a href="#" class="dropdown-item">
                  <div class="media">
                    <mat-icon>favorite</mat-icon>
                    <div class="media-content">
                      <h3>Popular</h3>
                      <small>Show popular posts.</small>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>

        <app-story-feed [stories]="stories$ | async"></app-story-feed>

      </div>
    </div>

  </div>

  <app-create-story-modal [signedUser]="signedUser$ | async">
  </app-create-story-modal>

</div>