<div id="compose-card" class="card is-new-content" [ngClass]="{'is-highlighted' : isHighlighted  == true}" *ngIf="signedUser">
  <!-- Top tabs -->
  <div class="tabs-wrapper">
    <form #postCreateForm="ngForm" (ngSubmit)="savePost()">
      <div class="tabs is-boxed is-fullwidth">
        <ul>
          <li class="is-active">
            <a>
              <span class="icon is-small">
                <mat-icon>publish</mat-icon>
              </span>
              <span>Publish</span>
            </a>
          </li>
          <li>
            <a class="modal-trigger" (click)="openModal('create-album');">
              <span class="icon is-small">
                <mat-icon>photo_library</mat-icon>
              </span>
              <span>Albums</span>
            </a>
          </li>
          <li>
            <a class="modal-trigger" data-modal="videos-help-modal">
              <span class="icon is-small">
                <mat-icon>photo_camera_front</mat-icon>
              </span>
              <span>Video</span>
            </a>
          </li>
          <!-- Close X button -->
          <li class="close-wrap">
            <span class="close-publish" (click)="makeUnHighlighted()">
              <mat-icon>close</mat-icon>
            </span>
          </li>
        </ul>
      </div>

      <!-- Tab content -->
      <div class="tab-content">

        <!-- Compose form -->
        <div class="compose">
          <div class="compose-form">
            <img src="{{signedUser.profilePhotoUrl}}" data-demo-src="{{signedUser.profilePhotoUrl}}" alt="" title="{{signedUser.userName}}" >
            <div class="control">
              <textarea class="textarea" (click)="makeHighlighted()" rows="3" [(ngModel)]="postCreate.text" required
                name="text" placeholder="Write something about you..."></textarea>
            </div>
          </div>
        </div>
        <!-- /Compose form -->


        <!-- General basic options -->
        <div class="columns is-multiline" id="previews">

          <div id="template" class="column is-12 is-template">
            <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">
              <div class="content-container custom-dropzone" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">

                <dropzone *ngIf="type === 'component'" class="dropzone-container" [config]="config"
                  [disabled]="disabled" fxLayout="row" fxLayoutAlign="start strech" fxFlex="auto"
                  [message]="'Click or drag images here to upload'" (init)="onUploadInit($event)"
                  (error)="onUploadError($event)" (success)="onUploadSuccess($event)" (removedFile)="onRemovedFile($event)"></dropzone>

                <div *ngIf="type === 'directive'" class="dropzone dropzone-container" [dropzone]="config"
                  [disabled]="disabled" (init)="onUploadInit($event)" (error)="onUploadError($event)"
                  (success)="onUploadSuccess($event)"></div>
              </div>
            </div>

          </div>

        </div>

        <!-- /General basic options -->

        <!-- Hidden Options -->
        <div class="hidden-options">
          <div class="target-channels">
            <!-- Publication Channel -->
            <div class="channel">
              <div class="round-checkbox is-small">
                <div>
                  <input id="checkbox" type="checkbox" disabled required [(ngModel)]="activityFeed"
                    [checked]="activityFeed" (change)="changeFeed($event)">
                  <label for="checkbox"></label>
                </div>
              </div>
              <div class="channel-icon">
                <mat-icon>notifications_none</mat-icon>
              </div>
              <div class="channel-name">Activity Feed</div>
              <!-- Dropdown menu -->
              <div class="dropdown is-spaced is-modern is-right is-neutral dropdown-trigger">
                <div>
                  <button class="button" aria-haspopup="true">
                    <i class="main-icon" data-feather="smile"></i>
                    <span>Friends</span>
                    <i class="caret" data-feather="chevron-down"></i>
                  </button>
                </div>
                <div class="dropdown-menu" role="menu">
                  <div class="dropdown-content">
                    <a href="#" class="dropdown-item">
                      <div class="media">
                        <i data-feather="globe"></i>
                        <div class="media-content">
                          <h3>Public</h3>
                          <small>Anyone can see this publication.</small>
                        </div>
                      </div>
                    </a>
                    <a class="dropdown-item">
                      <div class="media">
                        <i data-feather="users"></i>
                        <div class="media-content">
                          <h3>Friends</h3>
                          <small>only friends can see this publication.</small>
                        </div>
                      </div>
                    </a>
                    <a class="dropdown-item">
                      <div class="media">
                        <i data-feather="user"></i>
                        <div class="media-content">
                          <h3>Specific friends</h3>
                          <small>Don't show it to some friends.</small>
                        </div>
                      </div>
                    </a>
                    <hr class="dropdown-divider">
                    <a class="dropdown-item">
                      <div class="media">
                        <i data-feather="lock"></i>
                        <div class="media-content">
                          <h3>Only me</h3>
                          <small>Only me can see this publication.</small>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Publication Channel -->
            <div class="channel">
              <div class="round-checkbox is-small">
                <div>
                  <input type="checkbox" id="checkbox-2" [checked]="storyFeed" (change)="changeStory($event)">
                  <label for="checkbox-2"></label>
                </div>
              </div>
              <div class="channel-icon">
                <mat-icon>history</mat-icon>
              </div>

              <div class="channel-name">My Story</div>
              <!-- Dropdown menu -->
              <div class="dropdown is-spaced is-modern is-right is-neutral dropdown-trigger">
                <div>
                  <button class="button" aria-haspopup="true">
                    <i class="main-icon" data-feather="smile"></i>
                    <span>Friends</span>
                    <i class="caret" data-feather="chevron-down"></i>
                  </button>
                </div>
                <div class="dropdown-menu" role="menu">
                  <div class="dropdown-content">
                    <a href="#" class="dropdown-item">
                      <div class="media">
                        <i data-feather="globe"></i>
                        <div class="media-content">
                          <h3>Public</h3>
                          <small>Anyone can see this publication.</small>
                        </div>
                      </div>
                    </a>
                    <a class="dropdown-item">
                      <div class="media">
                        <i data-feather="users"></i>
                        <div class="media-content">
                          <h3>Friends</h3>
                          <small>only friends can see this publication.</small>
                        </div>
                      </div>
                    </a>
                    <a class="dropdown-item">
                      <div class="media">
                        <i data-feather="users"></i>
                        <div class="media-content">
                          <h3>Friends and contacts</h3>
                          <small>Your friends and contacts.</small>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Friends list -->
          <div class="friends-list is-hidden">
            <!-- Header -->
            <div class="list-header">
              <span>Send in a message</span>
              <div class="actions">
                <a id="open-compose-search" href="javascript:void(0);" class="search-trigger">
                  <i data-feather="search"></i>
                </a>
                <!-- Hidden filter input -->
                <div id="compose-search" class="control is-hidden">
                  <input type="text" class="input" placeholder="Search People">
                  <span>
                    <i data-feather="search"></i>
                  </span>
                </div>
                <a href="javascript:void(0);" class="is-inverted modal-trigger" data-modal="create-group-modal">Create
                  group</a>
              </div>
            </div>
            <!-- List body -->
            <div class="list-body">

              <!-- Friend -->
              <div class="friend-block">
                <div class="round-checkbox is-small">
                  <div>
                    <input type="checkbox" id="checkbox-3">
                    <label for="checkbox-3"></label>
                  </div>
                </div>
                <img class="friend-avatar" src="https://via.placeholder.com/300x300"
                  data-demo-src="assets/img/avatars/dan.jpg" alt="">
                <div class="friend-name">Dan Walker</div>
              </div>
              <!-- Friend -->
              <div class="friend-block">
                <div class="round-checkbox is-small">
                  <div>
                    <input type="checkbox" id="checkbox-4">
                    <label for="checkbox-4"></label>
                  </div>
                </div>
                <img class="friend-avatar" src="https://via.placeholder.com/300x300"
                  data-demo-src="assets/img/avatars/daniel.jpg" alt="">
                <div class="friend-name">Daniel Wellington</div>
              </div>
              <!-- Friend -->
              <div class="friend-block">
                <div class="round-checkbox is-small">
                  <div>
                    <input type="checkbox" id="checkbox-5">
                    <label for="checkbox-5"></label>
                  </div>
                </div>
                <img class="friend-avatar" src="https://via.placeholder.com/300x300"
                  data-demo-src="assets/img/avatars/stella.jpg" alt="">
                <div class="friend-name">Stella Bergmann</div>
              </div>
              <!-- Friend -->
              <div class="friend-block">
                <div class="round-checkbox is-small">
                  <div>
                    <input type="checkbox" id="checkbox-6">
                    <label for="checkbox-6"></label>
                  </div>
                </div>
                <img class="friend-avatar" src="https://via.placeholder.com/300x300"
                  data-demo-src="assets/img/avatars/david.jpg" alt="">
                <div class="friend-name">David Kim</div>
              </div>
              <!-- Friend -->
              <div class="friend-block">
                <div class="round-checkbox is-small">
                  <div>
                    <input type="checkbox" id="checkbox-7">
                    <label for="checkbox-7"></label>
                  </div>
                </div>
                <img class="friend-avatar" src="https://via.placeholder.com/300x300"
                  data-demo-src="assets/img/avatars/nelly.png" alt="">
                <div class="friend-name">Nelly Schwartz</div>
              </div>
            </div>
          </div>
        </div>

        <!-- Footer buttons -->
        <div class="more-wrap">
          <!-- View more button -->
          <button id="show-compose-friends" type="button" class="button is-more" aria-haspopup="true">
            <mat-icon>more_horiz</mat-icon>
            <span>View More</span>
          </button>
          <!-- Publish button -->
          <button id="publish-button" type="submit" [disabled]="!postCreateForm.valid"
            class="button is-solid accent-button is-fullwidth">
            Publish
          </button>
        </div>
      </div>
    </form>
  </div>
</div>