<div class="videos-sidebar is-active">
  <div class="videos-sidebar-inner">
    <div class="user-block">
      <a class="close-videos-sidebar">
        <i data-feather="x"></i>
      </a>
      <div class="avatar-wrap">
        <img src="https://via.placeholder.com/150x150" data-demo-src="assets/img/avatars/jenna.png"
          data-user-popover="0" alt="">
        <div class="badge">
          <i data-feather="check"></i>
        </div>
      </div>
      <h4>Jenna Davis</h4>
      <p>Melbourne, AU</p>
      <div class="user-stats">
        <div class="stat-block">
          <span>Videos</span>
          <span>49</span>
        </div>
        <div class="stat-block">
          <span>Followers</span>
          <span>2.3K</span>
        </div>
      </div>
    </div>
    <div class="user-menu">
      <div class="user-menu-inner has-slimscroll">
        <div class="menu-block">
          <ul>
            <li class="is-active">
              <a>
                <i data-feather="smile"></i>
                <span>Featured</span>
              </a>
            </li>
            <li>
              <a>
                <i data-feather="youtube"></i>
                <span>Videos</span>
              </a>
            </li>
            <li>
              <a>
                <i data-feather="cast"></i>
                <span>TV Shows</span>
              </a>
            </li>
            <li>
              <a>
                <i data-feather="film"></i>
                <span>Movies</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="separator"></div>
        <div class="menu-block">
          <ul>
            <li>
              <a>
                <i data-feather="check-square"></i>
                <span>Subscriptions</span>
              </a>
            </li>
            <li>
              <a>
                <i data-feather="copy"></i>
                <span>Library</span>
              </a>
            </li>
            <li>
              <a>
                <i data-feather="thumbs-up"></i>
                <span>Liked Videos</span>
              </a>
            </li>
            <li>
              <a>
                <i data-feather="watch"></i>
                <span>Watch Later</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="separator"></div>
        <div class="menu-block">
          <ul>
            <li>
              <a>
                <i data-feather="sliders"></i>
                <span>Settings</span>
              </a>
            </li>
            <li>
              <a>
                <i data-feather="life-buoy"></i>
                <span>Help & Support</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>