<!-- Pageloader -->
<!-- <div class="pageloader"></div>
<div class="infraloader is-active"></div> -->
<div class="signup-wrapper">

  <!--Fake navigation-->
  <div class="fake-nav">
    <a href="/" class="logo">
      <img src="../../../../assets/img/logo/friendkit-bold.svg" width="112" height="28" alt="">
    </a>
  </div>

  <div class="container">
    <!--Container-->
    <div class="login-container">
      <div class="columns is-vcentered">
        <div class="column is-6 image-column">
          <!--Illustration-->
          <img class="login-image" src="../../../../assets/img/illustrations/login/login.svg" alt="">
        </div>
        <div class="column is-6">

          <h2 class="form-title">Welcome Back</h2>
          <h3 class="form-subtitle">Enter your credentials to sign in.</h3>

          <!--Form-->
          <div class="login-form">
            <div class="form-panel">
              <div class="field">
                <label>Email</label>
                <div class="control">
                  <input type="text" class="input" placeholder="Enter your email address">
                </div>
              </div>
              <div class="field">
                <label>Password</label>
                <div class="control">
                  <input type="password" class="input" placeholder="Enter your password">
                </div>
              </div>
              <div class="field is-flex">
                <div class="switch-block">
                  <label class="f-switch">
                    <input type="checkbox" class="is-switch">
                    <i></i>
                  </label>
                  <div class="meta">
                    <p>Remember me?</p>
                  </div>
                </div>
                <a>Forgot Password?</a>
              </div>
            </div>

            <div class="buttons">
              <a class="button is-solid primary-button is-fullwidth raised">Login</a>
            </div>

            <div class="account-link has-text-centered">
              <a href="/signup.html">Don't have an account? Sign Up</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>